#project-icon{
	float: left;
	max-height: 48px;
	overflow: hidden;
	max-width: 48px;
	margin-top: 3px;
}

#project-info{
	margin-left:0px;
	width:548px;
	min-height:60px;
	height:auto;
}

.proj{
	height:auto;
	width:300px;
	border-top:1px solid grey;	
}

