body{
  padding-top:50px;
}
.container-fluid {
padding-right: 0px;
padding-left: 0px;
}

.navbar .brand{
  color:white;
  
}
.navbar .brand img{
  vertical-align: middle;
  padding-right:10px;
    padding-left:10px;
}
.hero-unit{
  margin-top:50px;
}
.hero-unit  p{
  padding-top:20px;
  padding-bottom:20px;
}

h1{
  margin-bottom:20px;
}