/**
 * Copyright 2011 Prometil SARL
 *
 * This file is part of Kernely.
 *
 * Kernely is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Kernely is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with Kernely.
 * If not, see <http://www.gnu.org/licenses/>.
 */
  html, body {
  position: relative ;
  height: 100%;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  }
  

div#header{
  height: 71px;
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}


div#logo{
  margin-top:15px;
  margin-left :20px;
  float:left;
}


div#space{
	height:50px;
	width:100%;
}

div#information{
  float: left;
  height: 300px;
  margin-left:auto;
  margin-right:auto;
  padding:40px 40px 40px 40px;
  width: 300px;
}

div#login{
  background: #f2f2f2;
  float: right;
    margin-left:auto;
  margin-right:auto;
  padding:40px 40px 40px 40px;
  height: 300px;
  width: 300px;
  line-height: 5px;
}

div#connection{
	float:left;
}

div#remember{
	float:right;
}
