/**
 * Copyright 2011 Prometil SARL
 *
 * This file is part of Kernely.
 *
 * Kernely is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Kernely is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with Kernely.
 * If not, see <http://www.gnu.org/licenses/>.
 */
 */

body,
html {
margin:0;
padding:0;
color:#000;
font: normal 13px arial, sans-serif;
}

#container {
	width:960px;
	margin:0 auto;
	padding-top: 20px;
	margin: 0 auto 0 auto;
}

h1 {
	font: 18px arial, sans-serif;
	color: #333;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.button-bar{
	padding-top:10px;	
}

/* header */
div#header div#title {
	display: block;
	color: #FFF;
	font-size: 24px;
	font-weight: bold;
	float: left;
	padding-right: 30px;
}

div#header {
	color: #FFF;
	background: #2D2D2D;
	font: 13px/ 27px Arial, sans-serif;
	height: 30px;
}

div#header a {
	color: #FFF;
	text-decoration: none;
}

/* menu*/
div#menu {
	left:0;
	height: 30px;
    	position: absolute;
    	top: 0;
}

/* header profile*/
div#menu_header_profile {
	right:5px;
	height: 30px;
   	position: absolute;
   	top: 0;

}

img.img_miniprofile{
	width:28px;
	height:28px;
}

/* mini-profile pop up */
div#profile_popup{
	right:5px;
	position:absolute;
	top:29px;
	width:310px;
	height:135px;
	background-color:#FFFFFF;
	display:none;
}

div#profile-content{
	border:1px solid black;
	margin:5px;
}

div#profilePU-main{
	height:80px;
}

div#profilePU-image{
	height:80px;
	width:125px;
	float:left;
}

img#profilePU-img{
	max-width:120px;
	max-height:80px;
}

div#profilePU-information{
	height:80px;
	width:173px;
	float:left;
}

div#profilePU-footer{
	height:30px;
	text-align:center;
}

/* content */
div#content {
	padding: 10px;
}

div#content h1 {
	font: 18px arial, sans-serif;
}

div.button-bar {
	text-align: right;
}

