#invoice-button-bar{
	margin-top:35px;
	float:right;
}

div#invoice-creation-container{
	width:335px;
	margin-left:16px;
	height:auto;
	margin-bottom:16px;
	margin-top:18px;
}

.invoice-create-category{
	font-weight:bold;
	color:#000;
	padding:10px 0 10px 0;
}

div#invoice-create-buttons{
	margin-top:50px;
}

div.separator-top-25{
	margin-top:25px;
}

#invoice-details{
	margin-top:35px;
	margin-bottom:25px;
}

#invoice-filters{
	padding:25px 20px 20px 20px;
}

#invoice-details-new-button-bar, #invoicing-buttons-bar{
	float:right;
	margin-bottom:10px;
}

.invoice-status-img{
	margin-top:3px;
}

#organization-selector, #organization-selector option,
#project-selector, #project-selector option{
	cursor:pointer;
}
#organization-selector-mod, #project-selector-mod{
	width:100%;
}

#project-selector, #organization-selector{
	width:100%;
	height:20px;
	border:1px solid #b1b3b3;
}

#from,#to{
	width:100px;
}

#invoices-table{
	width:100%;
}

.general-informations-fields{
	width:95px;
}

#invoice-general-informations-table{
	width:100%;
}

.object-field{
	width:100%;
}

#invoice-comment{
	width:670px;
	height:90px;
	border:1px solid #aeb0b0;
}

/* Invoice table lines */
.id-field{
	display:none;
}

.description-field, .quantity-field, .unitprice-field{
	width:100%;
}

td.label-column{
	width:110px;
}

#invoice-line-details{
	text-align:center;
}

.description-column{
	width:40%;
}

.quantity-column, .unitprice-column{
	width:15%;
}

.amount-column{
	width:10%;
}

.vat-column{
	width:15%;
}

.delete-column{
	width:5%;
	background-color:#f6f6f6 ;
	border-top:none !important;
	border-right:none !important;
	border-bottom:none !important;
	text-align:center !important;
}

table#invoice-line-details-visualization{
	border:none;
	text-align:center;
}

table#invoice-line-details{
	border-left:1px solid #a0a2a3;
	text-align:center;
}


tbody#invoice-lines td, tbody#invoice-lines-vis td{
	padding-top:2px;
	padding-bottom:2px;
}

tbody#invoice-lines-vis td:first-child{
	border-left:1px solid #a0a2a3;
}

tbody#invoice-lines-vis tr:last-child td{
	border-bottom:1px solid #a0a2a3;
}

table#invoice-line-details-visualization tbody#additional-informations{
	margin-top:10px;
	border-top:1px solid #a0a2a3;
}

table#invoice-line-details-visualization tbody#additional-informations td{
	border-left:none;
	border-bottom:none;
}

table#invoice-line-details-visualization tbody#additional-informations td{
	background-color:#f6f6f6;
	border-right:none;
	color:#000;
}

tbody#additional-informations tr.total-line{
	font-weight:bold;
	color:#000;
}


