#invoice-button-bar{
	margin-top:35px;
	float:right;
}
#invoice-details{
	margin-top:35px;
	margin-bottom:25px;
}

#invoice-details-new-button-bar{
	float:right;
	margin-bottom:10px;
}

#organization-selector, #organization-selector option{
	cursor:pointer;
}

#project-selector, #project-selector option{
	cursor:pointer;
}

#modal_window_invoice{
	position:absolute;
	width:250px;
	height:300px;
	display:none;
	z-index:9999;
	padding:20px;
	top:0;
	left:0;
}

#organization-selector-mod{
	width:200px;
}

#project-selector-mod{
	width:200px;
}

#from,#to{
	width:100px;
}

#invoices-table{
	width:100%;
}

.general-informations-fields{
	width:95px;
}

#invoice-general-informations-table{
	width:100%;
}

.object-field{
	width:100%;
}

.unpaid{
	color:red;
}

.paid{
	color:green;
}

.unpublished{
	color:grey;
}

.pending{
	color:#000;
}

#errors_message{
	color: red;
}

#invoice-comment{
	width:670px;
	height:90px;
	border:1px solid #aeb0b0;
}

/* Invoice table lines */
.id-field{
	display:none;
}

.description-field, .quantity-field, .unitprice-field{
	width:100%;
}

td.label-column{
	width:110px;
}

#invoice-line-details{
	text-align:center;
}

.description-column{
	width:40%;
}

.quantity-column, .unitprice-column{
	width:15%;
}

.amount-column{
	width:10%;
}

.vat-column{
	width:15%;
}

.delete-column{
	width:5%;
}

tbody#invoice-lines td{
	padding-top:2px;
	padding-bottom:2px;
}

/* Common */
#mask{
	position:absolute;
	z-index:9000;
	background-color:#000;
	display:none;top:0;
	left:0;
}


