---
layout: default
title: Documentation
---

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
            
      <ul class="nav nav-list">
        <li class="nav-header">
          Installation
        </li>
        <li >
          <a href="#">FG</a>
        </li>
        <li>
          <a href="#">Library</a>
        </li>
        <li class="nav-header">
          Developpers
        </li>
        <li>
          <a href="#">Getting started</a>
        </li>
        <li>
          <a href="#">Create a new module</a>
        </li>
        <li>
          <a href="#">Authentication</a>
        </li>
        <li>
          <a href="#">Webservices</a>
        </li>
        <li>
          <a href="#">Use the model</a>
        </li>
        <li>
          <a href="#">Deploy the module</a>
        </li>

      </ul>
    </div>
    <div class="span10">
     {{content}}
    </div>
  </div>
</div>

