#create_fieldset{
	height:210px;
}

#main_create_div{
	width:225px;
	float:left;
}

#holiday-type{
	width:150px;
}

#colorpicker{
	width:195px;
	float:left;
}

#holiday_admin_table{
	cursor:pointer;
	width:100%;
}

#out-listbox, #in-listbox {
     width:200px;
}

#holiday-users-boxes{
	height:180px;
}

#out-listbox-div{
	float:left;
}
#in-out-buttons{
	float:left;
}
#int-listbox-div{
	float:left;
}

#holiday-table-div{
	height:220px;
	overflow-y:auto;
}
