#mask{
	position:absolute;
	z-index:400;
	background-color:#000;
	display:none;
	top:0;
	left:0;
}

#modal_window_holiday{
	position:absolute;
	width:900px;
	height:300px;
	display:none;
	z-index:500;
	padding:20px;
	top:0;
	left:0;
}

.closeModal{
	right:0;
}

#create_fieldset{
	height:210px;
}

#main_create_div{
	width:225px;
	float:left;
}

#holiday-type{
	width:150px;
}

#colorpicker{
	width:195px;
	float:left;
}

#holidays_errors_create{
	display:none;
	font-weight:bold;
	color:red;
}

#holidays_errors_update{
	display:none;
	font-weight:bold;
	color:red;
}

#holidays_notifications{
	display:none;
	color:green;
}

#holiday_admin_table{
	cursor:pointer;
	width:100%;
}

#out-listbox, #in-listbox {
     width:200px;
}

#holiday-users-boxes{
	height:180px;
}

#out-listbox-div{
	float:left;
}
#in-out-buttons{
	float:left;
}
#int-listbox-div{
	float:left;
}

#holiday-table-div{
	height:220px;
	overflow-y:auto;
}
