#mask{
	position:absolute;
	z-index:9000;
	background-color:#000;
	display:none;
	top:0;
	left:0;
}

#modal_window_holiday{
	position:absolute;
	width:450px;
	height:300px;
	display:none;
	z-index:9999;
	padding:20px;
	top:0;
	left:0;
}

.closeModal{
	right:0;
}

#user_pending_request_table{
	cursor:pointer;
	width:100%;
}

#user_request_table{
	cursor:pointer;
	width:100%
}

#holiday_notifications{
	text-align:center;
	display:none;
	color:green;
}

#main_title{
	text-align:center;
	font-size:16px;
	font-weight:bold;
}