#period{
	text-align:center;
}

.dayHeader-part{
	background-image:url("/images/top_day.png");
	background-repeat:no-repeat;
}

.am-part{
	background-color:#dce8f1;
}

.pm-part{
	background-color:#dce8f1;
}

.day-disabled{
	background-color : #CCCCCC;
	cursor:default;
}

.week-container{
	margin-bottom:7px;
	height:202px;
	width:720px;
}

.week-number{
	height:171px;
	width : 120px;
	padding-top:30px;
	float:left;
}

.week-content{
	height: 201px;
	float:left;
	width:600px;
}

.day-of-calendar{
	width:120px;
	text-align:center;
	height:20px;
	float:left;

}

#calendar-header{
	width:100%;
	height:20px;
}

#calendarTable{
	width:100%;
}

.daysPartCalendar{
	height:50px;
}

.day-header{
	text-align:center;
}

.morning-part{
	cursor:pointer;
}

.afternoon-part{
	cursor:pointer;
margin:0px;
padding:0px;
}

#request-main{
	margin-top: 20px;
	width:960px;
	height:auto;
}

#calendarRequest{
	margin-top:15px;
	width:720px;
	height:auto;
	float:left;
	display : none;
}

#colorSelector{
	width:210px;
	margin-left:30px;
	height:auto;
	float:left;
}

.balance-cell{
	width:210px;
	height:60px;
	padding-top:20px;
	text-align:center;
	cursor: pointer;
	margin-top: 5px;
	-moz-border-radius:20px;
    	-moz-box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5),
              0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
   	 -webkit-border-radius:20px;
   	 -webkit-box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5),
                 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
   	 border-radius:20px;
  	 box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5),
             0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
	
}

.balance-cell-selected{
	opacity:0.6;
}

.available-cpt{
	 font-weight:bold;
}

#requester-comment{
	width:640px;
height:43px;
	
}

#validate-holidays{
	position:absolute;
	height:50px;
}

.separation-part{
	height:20px;
}

#balance-cell-name{
	font-weight:bold;
}

#requester-comment-div{
	height:50px;
}
