#create_fieldset{
	height:210px;
}

#main_create_div{
	width:225px;
	float:left;
}

#holiday-type{
	width:150px;
}

#colorpicker{
	width:195px;
	float:left;
}

#holiday_admin_table{
	cursor:pointer;
	width:100%;
}



