#mask{
	position:absolute;
	z-index:1;
	background-color:#000;
	display:none;
	top:0;
	left:0;
}

#modal_window_holiday{
	position:absolute;
	width:450px;
	height:300px;
	display:none;
	z-index:2;
	padding:20px;
	top:0;
	left:0;
}

.closeModal{
	right:0;
}

#create_fieldset{
	height:210px;
}

#main_create_div{
	width:225px;
	float:left;
}

#holiday-type{
	width:150px;
}

#colorpicker{
	width:195px;
	float:left;
}

#holiday_admin_table{
	cursor:pointer;
	width:100%;
}
