#dates-title{
	float:left;
	padding:7px 7px 7px 0;
}

#table-legend{
	float:left;
	margin:5px;
}

.header{
	width:100%;
	margin-bottom:5px;
	height:28px;
}

.day-planning{
	width:20px;
	height:25px;
}

.weekend{
	background-color:#E1E1E1;
}

.legend-icon{
	height:15px;
}