.day-header-part, .am-part, .pm-part, .day-part, .day-disabled{
	width:125;
	height:25px;
	text-align:center;
	font-weight:bold;
	border:1px solid #a0a2a3;
}

.day-header-part{
	background-color:#e3e4e4;
	cursor:default;
}

.am-part, .pm-part{
	cursor:pointer;
	color:#c8c8c8;
}

.day-part{
	cursor:default;
	color:#c8c8c8;
}

#calendar-table{
	width:100%;
	border-spacing:10px 5px;
}

buttons-container{

}

.day-disabled{
	background-color : #CCCCCC;
	cursor:default;
}

#calendarRequest{
	margin-top:15px;
	width:100%;
	height:auto;
	float:left;
}

#calendar-request-visualize{
	margin-top:15px;
	width:100%;
	height:400px;
	overflow:auto;
	float:left;
}

#balance-selector-tabs{
	height:25px;	
	cursor:pointer;
}

.balance-selector-tab{
	width:109px;
	background-color:#c3c2c3;
	height:20px;
	float:left;
	padding-top:5px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
}

.balance-selector-tab-selected{
	background-color:#3e3d40;
}

.balance-tab-invisible{
	display:none;
}

#limited-balances{

}

#unlimited-balances{

}

.no-balance-display{
	width:100%;
	padding:5px;
	color:#a0a2a3;
}

.balance-cell-display, .balance-cell{
	height:45px;
	border-bottom:1px solid #a0a2a3;
}

.balance-cell-display{
	cursor:default;
}

.balance-cell{
	cursor:pointer;
}

.balance-cell:last-child, .balance-cell-display:last-child{
	border:0;
}

.balance-cell:hover{
	background-color:#e7e7e7;
}

.balance-cell-amount, .balance-cell-title{
	margin-top:8px;
}

.balance-cell-amount{
	margin-left:15px;
	margin-top:8px;
	padding-top:7px;
	width:30px;
	height:23px;
	float:left;
	font-weight:bold;
	text-align:center;
}

.balance-cell-title{
	font-weight:bold;
	margin-left:10px;
	float:left;
	width:120px;
	padding-top:2px;
}

.balance-cell-selected{
	background-color:#e3e4e4;
}

.balance-cell-selected-void{
	background-color:#F7C7C7;
}

.available-cpt{
	 font-weight:bold;
}

#requester-comment{
	width:670px;
	height:90px;
	
}

.separation-part{
	height:15px;
}

#balance-cell-name{
	font-weight:bold;
}

#requester-comment-div{
	height:auto;
}

#buttons-container{
	margin-top:35px;
	float:right;
}

.comment-area{
	width:100%;
	border:1px solid #a0a2a3;
	height:100px;
}


