.header-block-year{
	border:1px solid #a0a2a3;
	padding:5px 0 5px 10px;
	color:#97ad17;
	font-size:15px;
}

.header-block-year:hover{
	background-color:#e3f38d;
}

.content-block-year{
	border:1px solid #a0a2a3;
	border-top:none;
	display:none;
	padding:5px;
}

.year-block{
	margin:8px 0 5px 0;
	-moz-box-shadow: 0px 0px 5px #acacac;
	-webkit-box-shadow: 0px 0px 5px #acacac;
	box-shadow: 0px 3px 5px #acacac;
}

.year-block:first-child{
	margin-top:0;
}

.comment-column{
	width:207px;
}

#request-form label {
    	display: block;
    	float: left;
	width: 30px;
	padding-top:5px;
}

