{% extends "templates/layout.html" %}
{% block javascript %}
	<script type="text/javascript" src="/js/streams.js"></script>
{% endblock %}

{% block title %}
{% i18n "stream_page_title" %}
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/stream.css"/>
{% endblock %}

{% block template %}
	<script type="text/html" id="message-template">
		<div id="mess-{{"{{"}}id{{"}}"}}" class='mess'>
			<div class="mess-left-side">
				<div class="message-image">
					<img class="message-img-image" src='/images/message_icon.png'/>
				</div>
			</div>
			<div class="mess-right-side">
				<div class="message-buttons" id="buttons{{"{{"}}id{{"}}"}}">
					<img id="delete{{"{{"}}id{{"}}"}}" class="deleteButton" src="/images/icons/delete_icon.png"/>
				</div>
				<div class="message-author-info">
					<span class="author">{{"{{"}}author{{"}}"}}</span> <img src="/images/separator_icon.png" /> <span class="date">{{"{{"}}date{{"}}"}}</span> <img src="/images/separator_icon.png" /> <span class="stream">{{"{{"}}stream{{"}}"}}</span>
				</div>
				<div  class='message-content'>
					{{"{{"}}message{{"}}"}}
				</div>
				<div class="comment-field">
					<div id="other_comment{{"{{"}}id{{"}}"}}" class="other-comment"><span class="loadcomment">{% i18n "view_comments" %}<span/></div>
					<div id="comments-{{"{{"}}id{{"}}"}}"></div>
					<div id="input_comment{{"{{"}}id{{"}}"}}" class="input-comment"><input type="text" value='{% i18n "comment_here" %}' class="input-comment-field-dis kernely_input" /></div>
				</div>
			</div>
			<div style="clear:both;"></div>	
		</div>
	</script>
	
	<script type="text/html" id="view-comments-template">
		<span class='loadcomment'>{% i18n "view_comments" %}<span/>
	</script>
	
	<script type="text/html" id="hide-comments-template">
		<span class='hidecomment'>{% i18n "hide_comments" %}<span/>
	</script>
	
	<script type="text/html" id="confirm-deletion-template">
		{% i18n "confirm_message_deletion" %}
	</script>
	
	<script type="text/html" id="confirm-deletion-comment-template">
		{% i18n "confirm_comment_deletion" %}
	</script>
	
	<script type="text/html" id="alert-empty-message-template">
		{% i18n "empty_message_forbidden" %}
	</script>
	
	<script type="text/html" id="comment-here-template">
		<input type="text" value='{% i18n "comment_here" %}' class="input-comment-field-dis"/>
	</script>
	
	<script type="text/html" id="comment-template">
		<div id="comment-{{"{{"}}id{{"}}"}}" class='comment'>
			<div class="comment-left-side">
				<div class="comment-image">
					<img class="comment-img-image" src='/images/comment_icon.png'/>
				</div>
			</div>
			<div class="comment-right-side">
				<div class="comment-buttons" id="comm_buttons{{"{{"}}id{{"}}"}}">
					<img id="delete{{"{{"}}id{{"}}"}}" class="deleteCommentButton" src="/images/icons/delete_icon.png"/>
				</div>
				<div class="comment-author-info">
					<span class="author">{{"{{"}}author{{"}}"}}</span> <span class="date"> - {{"{{"}}date{{"}}"}}</span>
				</div>
				<div class='comment-content'>
					{{"{{"}}comment{{"}}"}}
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
	</script>
	
	<script type="text/html" id="input_comment-template">
		<textarea class='comment-input' id='{{"{{"}}commentInputId{{"}}"}}'></textarea>
		<a class='cancelButton'>{% i18n "cancel" %}</a>  <a class='button share-comment' href='javascript:void(0)' >{% i18n "comment_message" %}</a>
	</script>
	
	<!-- Dates -->
	<script type="text/html" id="date-seconds-template">
		{% i18n "stream_seconds_message" %}
	</script>
	<script type="text/html" id="date-minutes-template">
		{% i18n "stream_minutes_message" %}
	</script>
	<script type="text/html" id="date-hours-template">
		{% i18n "stream_hours_message" %}
	</script>
	<script type="text/html" id="date-days-template">
		{% i18n "stream_days_message" %}
	</script>
{% endblock %}

{% block content %}
	<div id="streams">
		<div id="streams-main">
			<div>
				<textarea id="message-input"></textarea>		
				<div class="button-bar" id="combo">
					<input type="button" id="share-message"  class="share-message button_ok" value="{% i18n "share_button" %}"/></a>
				</div>
			</div>
			<div id="streams-messages">
			</div>
		</div>
		<div id="streams-sidebar">
		</div>
		<div id="streams-footer">
		</div>
		</div>
{% endblock %}

{% block left %}
<div id="profile_mask"></div>
<div id="left_profile_arrow"></div>
<div id='left_profile_container'>
	<img src="/images/{{currentUser.image}}" id="image_left_profile"/>
	<div id="left_profile_name">{{currentUser.firstname}} {{currentUser.lastname}}</div>
</div>
{% endblock %}