{% extends "templates/admin.html" %}

{% block subjavascript %}
	<script type="text/javascript" src="/js/administration/manager_admin.js"></script>
{% endblock %}

{% block subtemplate %}
	<!-- Template for the create view  -->
	<script type="text/html" id="popup-manager-admin-create-template">
		<input type="button" value="{% i18n "close" %}" class="closeModal"/><br/>
		<fieldset>
		<legend>{% i18n "manager_informations" %}</legend>
		<div id="combo"></div>
		
		</fieldset>
			
		<fieldset>
		<legend>{% i18n "manager_users" %}</legend>
			<div id="usersToLink">
				<!-- Filled by ajax  -->
			</div>
		</fieldset>
		<br/>
		<input type="button" value="{% i18n "create" %}" class="createManager"/>
		<div id="errors_message"></div>
	</script>
	
	<!-- Template for the edit view  -->
	<script type="text/html" id="popup-manager-admin-update-template">
		<input type="button" value="{% i18n "close" %}" class="closeModal"/><br/>
		<fieldset>
			<legend>{% i18n "manager_information" %}</legend>
			{% i18n "name" %}: <input type="text" name="name" value="{{"{{"}}name{{"}}"}}" id="manager-username" disabled="disabled"/><br/>
		</fieldset>
		
		<fieldset>
			<legend>{% i18n "manager_users" %}</legend>
			<div id="usersToLink">
				<!-- Filled by ajax  -->
			</div>
		</fieldset>
		<br/>
		<input type="button" value="{% i18n "update" %}" class="updateManager"/>
		<div id="errors_message"></div>
	</script>
	 
	<script type="text/html" id="table-header-template">
		<tr><th>{% i18n "manager_name" %}</th><th>{% i18n "manager_users" %}</th></tr>
	</script>
	
	<script type="text/html" id="confirm-manager-deletion-template">
		{% i18n "confirm_manager_deletion" %}
	</script>
	
	<script type="text/html" id="manager-success-template">
		{% i18n "manager_success" %}
	</script>
{% endblock %}

{% block admintitle %}
	{% i18n "manager_admin_title" %}
{% endblock %}

{% block admin %}
	<div id="manager_header" style=""></div>
	
	<div id="mask"></div>
	
	<div id="modal_window_manager"></div>
	
	<div id="manager_admin_container">
		<div id="manager_admin_buttons">
			<input type="button" class="createButton button_standard" value="{% i18n "create" %}"/>
			<input type="button" class="editButton button_standard" value="{% i18n "edit" %}" disabled="disabled"/>
			<input type="button" class="deleteButton button_standard" value="{% i18n "delete" %}" disabled="disabled"/>
		</div>
		<table id="manager_admin_table" class="kernely_table"></table>
	</div>
{% endblock %}