<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{% i18n "title" %}</title>
	
	<!-- js files -->
	<script type="text/javascript" src="/js/mustache.js"></script>
	<script type="text/javascript" src="/js/json2.js"></script>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/underscore.js"></script>
	<script type="text/javascript" src="/js/backbone.js"></script>
	<script type="text/javascript" src="/js/miniprofile.js"></script>
	
	<script type="text/javascript" src="/js/jquery-ui-1.8.16.min.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.datepicker-en-US.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.datepicker-fr-FR.js"></script>
	<script type="text/javascript" src="/js/jscolor/jscolor.js"></script>
	
	{% block javascript %}
		<!-- additional javascript-->
	
	{% endblock %}
	<!-- css files -->
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css"/>
	<link rel="stylesheet" type="text/css" href="/css/farbtastic.css"/>
	
	{% block css %}
		<!-- additional css-->
	
	{% endblock %}
	
	
	
	</head>
	<body>
		{% block template %}
			<!-- all templates -->
		{% endblock %}
			<script type="text/html" id="profile-template">
				<div id='profilePU-content'>
					<div id='profilePU-main'>
						<div id='profilePU-image'>
							<img id="profilePU-img" src='{{"{{"}}image{{"}}"}}'/>
						</div>
						<div id='profilePU-information'>
							{{"{{"}}fullname{{"}}"}} ({{"{{"}}username{{"}}"}})<br/>
							{{"{{"}}mail{{"}}"}}<br/>
							<br/>
							<a href="/user/{{"{{"}}username{{"}}"}}/profile">{% i18n "profile" %}</a>
						</div>
					</div>
					<div id="profilePU-footer">
						<hr/>
						<a href="/user/logout">{% i18n "logout" %}</a>
					</div>
				</div>
			</script>
		
			<!-- display all applications in the menu -->
			<div id="header">
				<div id="menu">
					<div id="title">{% i18n "title" %}</div>
					
					{% for c in menu %}
						<a href="{{c.link}}">{{c.name}}</a>
					{% endfor %}
					{% if admin %}
						<a href="/admin">{% i18n "administration" %}</a>
					{% endif %}
					
				</div>
				<div id="menu_header_profile">
					<a id="username_menu" href="javascript:void(0)" class="button displayProfilePU"></a>
					<a id="userimg_menu" href="javascript:void(0)" class="button displayProfilePU"></a>
				</div>
			</div>
			<div id="profile_popup"></div>
			<div id="container_left">
			{% block left %}
			{% endblock %}
			</div>
			<div id="container">
				{% block content %}
				No content.
				{% endblock %}
			</div>
			<div id="container_right">
			{% block right %}
			{% endblock %}
			</div>
	</body>
</html>