<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{% i18n "title" %}</title>
	
	<!-- js files -->
	<script type="text/javascript" src="/js/mustache.js"></script>
	<script type="text/javascript" src="/js/json2.js"></script>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/underscore.js"></script>
	<script type="text/javascript" src="/js/backbone.js"></script>
	<script type="text/javascript" src="/js/miniprofile.js"></script>
	
	<script type="text/javascript" src="/js/jquery-ui-1.8.16.min.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.datepicker-en-US.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.datepicker-fr-FR.js"></script>
	<script type="text/javascript" src="/js/kernely.ui.js"></script>
	<script type="text/javascript" src="/js/jscolor/jscolor.js"></script>
	
	{% block javascript %}
		<!-- additional javascript-->
	
	{% endblock %}
	<!-- css files -->
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/css/farbtastic.css"/>
	
	{% block css %}
		<!-- additional css-->
	
	{% endblock %}
	
	
	
	</head>
	<body>
	<script type="text/html" id="kernely-confirm-dialog-template">
		<div id="kernely-confirm-message">{{"{{"}}question{{"}}"}}</div>
		<div id="kernely-confirm-buttons"><input id="confirm-no-button" class="button_standard" type="button" value="{% i18n "no" %}" />
		<input id="confirm-yes-button" class="button_ok" type="button" value="{% i18n "yes" %}" /></div>
	</script>
		{% block template %}
			<!-- all templates -->
		{% endblock %}
			<script type="text/html" id="profile-template">
				<div id='profilePU-content'>
					<div id='profilePU-main'>
						<div id='profilePU-image'>
							<img id="profilePU-img" src='{{"{{"}}image{{"}}"}}'/>
						</div>
						<div id='profilePU-information'>
							{{"{{"}}fullname{{"}}"}} ({{"{{"}}username{{"}}"}})<br/>
							{{"{{"}}mail{{"}}"}}<br/>
							<br/>
							<a href="/user/{{"{{"}}username{{"}}"}}/profile">{% i18n "profile" %}</a>
						</div>
					</div>
					<div id="profilePU-footer">
						<hr/>
						<a href="/user/logout">{% i18n "logout" %}</a>
					</div>
				</div>
			</script>
		
			<!-- display all applications in the menu -->
			<div id="header">
				<div id="menu">
					<div id="title"></div>
					
					{% for c in menu %}
						<a class="menu_item" href="{{c.link}}">{{c.name}}</a>
					{% endfor %}
					{% if admin %}
						<a class="menu_item" href="/admin">{% i18n "administration" %}</a>
					{% endif %}
					
				</div>
				<div id="menu_header_profile">
					<div id="username_menu" class="clickable displayProfilePU"></div>
					<div id="profile_button" class="clickable displayProfilePU"></div>
					<div id="settings_button" class="clickable"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div id="profile_popup"></div>
			<div id="main">
				<div id="container_left" class="container_generic">
				{% block left %}
				{% endblock %}
				</div>
				<div id="container_central" class="container_generic">
					<div id="main_title">
						{% block title %}
						{% endblock %}
						<div id="notification_container">
							<div id="notification_to_user"></div>
						</div>
					</div>
					{% block content %}
					No content.
					{% endblock %}
				</div>
				<div id="container_right" class="container_generic">
					{% block right %}
					{% endblock %}
				</div>
				<div class="clear"></div>
			</div>
	</body>
</html>