/**
 * Copyright 2011 Prometil SARL
 *
 * This file is part of Kernely.
 *
 * Kernely is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Kernely is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with Kernely.
 * If not, see <http://www.gnu.org/licenses/>.
 */
body, html{
  background-color:#2D2D2D;
  background-image:none;
  text-align:center;
}
.buttonbar{
	text-align:right;
}
#logo{
  display:block;
  width:150px;
  margin:auto;
}
input{
  margin-top:10px;
}

div#login{
  background: #f5f5f5;
  border:#A0A2A3 1px solid;
  margin:20px auto;
  padding:20px;
  width: 200px;
  line-height: 5px;
  text-align:left;
}

div#error{
	text-align:center;
	background:#FFEBE8 none repeat scroll 0;
	border:1px solid #DD3C10;
	padding:20px;
	line-height: 20px;
	margin-top:10px;
}
