<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{% i18n "title" %}</title>
	
	<!-- js files -->
	<script type="text/javascript" src="/js/mustache.js"></script>
	<script type="text/javascript" src="/js/json2.js"></script>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/underscore.js"></script>
	<script type="text/javascript" src="/js/backbone.js"></script>
	<script type="text/javascript" src="/js/miniprofile.js"></script>
	<script type="text/javascript" src="/js/jquery-ui-1.8.16.min.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.datepicker-en-US.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.datepicker-fr-FR.js"></script>
	<script type="text/javascript" src="/js/kernely.ui.js"></script>
	<script type="text/javascript" src="/js/menu.js"></script>
	{% block javascript %}
		<!-- additional javascript-->
	
	{% endblock %}
	<!-- css files -->
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css"/>
	<link rel="stylesheet" type="text/css" href="/css/kernely.ui.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	{% block css %}
		<!-- additional css-->
	
	{% endblock %}
	
	<link rel="icon" type="image/png" href="/images/favicon.ico" />
	<!--
		<script type="text/javascript">
			$(document).ready(function(){
				if ( window.addEventListener ) {  
					   var kkeys = [], code = "38,38,40,40,37,39,37,39,66,65";  
					   window.addEventListener("keydown", function(e){  
					       kkeys.push( e.keyCode );  
					       if ( kkeys.toString().indexOf( code ) >= 0 ){
					    	   kkeys = [];
					    	  
					       }
					  }, true);  
				}
			});
		</script>
	-->
	</head>
	<body>
	<!-- Template for confirm dialog -->
	<script type="text/html" id="kernely-confirm-dialog-template">
		<div id="kernely-confirm-message">{{"{{"}}question{{"}}"}}</div>
		<div id="kernely-confirm-buttons"><input id="confirm-no-button" class="button_standard" type="button" value="{% i18n "no" %}" />
		<input id="confirm-yes-button" class="button_ok" type="button" value="{% i18n "yes" %}" /></div>
	</script>
	<!-- Template for week selector-->
	<script type="text/html" id="week-selector-template">{% i18n "week" %}</script>
	<script type="text/html" id="today-template">{% i18n "today" %}</script>
	
	<script type="text/html" id="1-month-template">{%  i18n "january" %}</script>
	<script type="text/html" id="2-month-template">{%  i18n "february" %}</script>
	<script type="text/html" id="3-month-template">{%  i18n "march" %}</script>
	<script type="text/html" id="4-month-template">{%  i18n "april" %}</script>
	<script type="text/html" id="5-month-template">{%  i18n "may" %}</script>
	<script type="text/html" id="6-month-template">{%  i18n "june" %}</script>
	<script type="text/html" id="7-month-template">{%  i18n "july" %}</script>
	<script type="text/html" id="8-month-template">{%  i18n "august" %}</script>
	<script type="text/html" id="9-month-template">{%  i18n "september" %}</script>
	<script type="text/html" id="10-month-template">{%  i18n "october" %}</script>
	<script type="text/html" id="11-month-template">{%  i18n "november" %}</script>
	<script type="text/html" id="12-month-template">{%  i18n "december" %}</script>

		{% block template %}
			<!-- all templates -->
		{% endblock %}
			<script type="text/html" id="profile-template">
				<div id='profilePU-content'>
					<div id='profilePU-main'>
						<div id='profilePU-image'>
							<img id="profilePU-img" src='/images/{{currentUser.image}}' alt=""/>
						</div>
						<div id='profilePU-information'>
							{{currentUser.firstname}} {{currentUser.lastname}} ({{currentUserLogin}})<br/>
							{{currentUser.email}}<br/>
							<br/>
							<input type="button" value="{% i18n "profile" %}" class="button_emphasis" onClick='window.location="/user/{{currentUserLogin}}/profile"'/>
						</div>
					</div>
					<div id="profilePU-footer">
						<hr/>
						<input type="button" value="{% i18n "logout" %}" class="button_emphasis" onClick='window.location="/user/logout"'/>
					</div>
				</div>
			</script>
		
			<!-- display all applications in the menu -->
			<div id="header">
				<div id="menu">
					<a href="/"><div id="title"></div></a>
					<ul class="topnav">
					
					
					{% for menu in menu %}
						<li>
							<a class="menu_item">{{menu.name}}</a>
							
							<ul class="subnav">
							{% for item in menu.items %}
								<li>
									<a href="{{item.link}}"><div class="sub_menu_item">{% i18n item.nameKey %}</div></a>
								</li>
							{% endfor %}
							</ul>
						</li>
					{% endfor %}
					{% if admin %}
						<a class="admin" href="/admin">{% i18n "administration" %}</a>
					{% endif %}
					
				</div>
				<div id="menu_header_profile">
					<div id="username_menu" class="clickable displayProfilePU">{{currentUser.firstname}} {{currentUser.lastname}}</div>
					<div id="profile_button" class="clickable displayProfilePU"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div id="profile_popup"></div>
			<div id="main">
				<div id="container_left" class="container_generic">
				{% block left %}
				{% endblock %}
				</div>
				<div id="container_central" class="container_generic">
					<div id="page_title" class="main_title">
						{% block title %}
						{% endblock %}
						<div id="notification_container">
							<div id="notification_to_user"></div>
						</div>
					</div>
					{% block content %}
					No content.
					{% endblock %}
				</div>
				<div id="container_right">
					{% block right %}
					{% endblock %}
				</div>
				<div class="clear"></div>
				<div id="container_footer">
					<img class="k_footer" src="/images/footer_k.png"/>
					{% block footer %}
					{% endblock %}
				</div>
			</div>
	</body>
</html>