<html>
	<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>	
	<link rel="stylesheet" type="text/css" href="/css/login.css"/>
	<link rel="icon" type="image/png" href="/images/favicon.ico" />
	</head>
	<body>
	<div id="login">
		<img id="logo" src="/images/Kernely.png" alt="Kernely"/>
		<form action="" method="POST">
			<input class="kernely_input" name="username" type="text" placeholder="{% i18n "username" %}"/>
			<input class="kernely_input" name="password" type="password"  placeholder="{% i18n "password" %}"/>
			<br/><input type="checkbox" name="rememberMe" value="true"/> {% i18n "remember_me" %}
			<div class="dialog-buttons-container" id="connection">
				<input class="button_ok" type="submit" value="{% i18n "login" %}"/>
			</div>
		</form>
	</div>
 
	</body>
</html>