{% extends "templates/layout.html" %}

{% block javascript %}
<script type="text/javascript" src="/js/profile.js"></script>
{% endblock %}
{% block template %}
	<script type="text/html" id="profile-mail-template">
	<td>{% i18n "email" %}</td>
	<td><span id="profile_{{"{{"}}input{{"}}"}}" class="span_profile">{{"{{"}}data{{"}}"}}</span></td>
	</script>
	
	<script type="text/html" id="profile-lastname-template">
	<td>{% i18n "name" %}</td>
	<td><span id="profile_{{"{{"}}input{{"}}"}}" class="span_profile">{{"{{"}}data{{"}}"}}</span></td>
	</script>
	
	<script type="text/html" id="profile-firstname-template">
	<td>{% i18n "firstname" %}</td>
	<td><span id="profile_{{"{{"}}input{{"}}"}}" class="span_profile">{{"{{"}}data{{"}}"}}</span></td>
	</script>
	
	<script type="text/html" id="profile-city-template">
	<td>{% i18n "city" %}</td>
	<td><span id="profile_{{"{{"}}input{{"}}"}}" class="span_profile">{{"{{"}}data{{"}}"}}</span></td>
	</script>
	
	<script type="text/html" id="profile-zip-template">
	<td>{% i18n "zip" %}</td>
	<td><span id="profile_{{"{{"}}input{{"}}"}}" class="span_profile">{{"{{"}}data{{"}}"}}</span></td>
	</script>
	
	<script type="text/html" id="profile-adress-template">
	<td>{% i18n "address" %}</td>
	<td><span id="profile_{{"{{"}}input{{"}}"}}" class="span_profile">{{"{{"}}data{{"}}"}}</span></td>
	</script>
	
	<script type="text/html" id="profile-nationality-template">
	<td>{% i18n "nationality" %}</td>
	<td><span id="profile_{{"{{"}}input{{"}}"}}" class="span_profile">{{"{{"}}data{{"}}"}}</span></td>
	</script>
	
	<script type="text/html" id="profile-homephone-template">
	<td>{% i18n "phone.home" %}</td>
	<td><span id="profile_{{"{{"}}input{{"}}"}}" class="span_profile">{{"{{"}}data{{"}}"}}</span></td>
	</script>
	
	<script type="text/html" id="profile-mobilephone-template">
	<td>{% i18n "phone.mobile" %}</td>
	<td><span id="profile_{{"{{"}}input{{"}}"}}" class="span_profile">{{"{{"}}data{{"}}"}}</span></td>
	</script>
	
	<script type="text/html" id="profile-businessphone-template">
	<td>{% i18n "phone.business" %}</td>
	<td><span id="profile_{{"{{"}}input{{"}}"}}" class="span_profile">{{"{{"}}data{{"}}"}}</span></td>
	</script>
	
	<script type="text/html" id="profile-ssn-template">
	<td>{% i18n "security_social_number" %}</td>
	<td><span id="profile_{{"{{"}}input{{"}}"}}" class="span_profile">{{"{{"}}data{{"}}"}}</span></td>
	</script>
	
	<script type="text/html" id="profile-birth-template">
	<td>{% i18n "birthday" %}</td>
	<td><span id="profile_{{"{{"}}input{{"}}"}}" class="span_profile">{{"{{"}}data{{"}}"}}</span></td>
	</script>

{% endblock %}

{% block content %}
	<div id="profile_information">
		<table id="profile_table" class="kernely_table">
			<tr>
				<td>{% i18n "image" %}</td>
				<td>
					<form action="/user/upload" method="post" enctype="multipart/form-data">
						<input type="file" name="file" class="file"/>
						<input type="submit" value="{% i18n "upload" %}" class="button_emphasis"/>
					</form>
				</td>
			</tr>
			<tr>
				<td>{% i18n "civility" %}</td>
				<td><span id="profile_civility" style="display: none;">{{details.civility}}</span>
					<input type="radio" class="edit_button_civility" name="civility" value="1"> {% i18n "civility.mister" %} </input> 
					<input type="radio" class="edit_button_civility" name="civility" value="2"> {% i18n "civility.madam" %} </input>
					<input type="radio" class="edit_button_civility" name="civility" value="3"> {% i18n "civility.miss" %} </input>
				</td>
			</tr>
		</table>
	</div>
	<div style="clear:both;"></div>
{% endblock %}

{% block left %}
<div id="profile_mask"></div>
<div id="left_profile_arrow"></div>
<div id='left_profile_container'>
	<img src="/images/{{currentUser.image}}" id="image_left_profile"/>
	<div id="left_profile_name">{{currentUser.firstname}} {{currentUser.lastname}}</div>
</div>


{% endblock %}

{% block title %}
{% i18n "profile_page_of" %} {{details.firstname}} {{details.lastname}}
{% endblock %}