/**
 * Copyright 2011 Prometil SARL
 *
 * This file is part of Kernely.
 *
 * Kernely is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Kernely is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with Kernely.
 * If not, see <http://www.gnu.org/licenses/>.
 */
div#streams{
}

div#streams-sidebar{
	float:right;
	width:320px;
}
div#streams-main{
   	width:635px;
	float: left;
}

div#streams-footer{
	clear:both;
	}

div#streams-messages{
	margin-top:20px;
}
div#streams-footer{
	clean:both;
}
div#streams textarea#message-input{
	width: 630px;
	height:60px;
	border: 1px solid #DDD;
	resize: none;
}

div#streams a.button{
	border-radius: 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	padding:7px 20px;
	text-decoration:none;
	color:#FFF;
	border: 1px solid #2D6200;
	background-color:#3D9400;
	
}
div#streams div.mess{
	padding:10px 0px;
}
div#streams div.selected{
	background-color:#FEFEFE;
}

div#streams div.messages{
	
	position: relative;
	border-bottom: 1px solid #EBEBEB;
	min-height: 60px;
	clear: both;
	display: block;
	outline: none;
	margin-top: -1px;
	border-top: 1px solid transparent;	
}

div#streams div.message-image{
	float: left;
	height: 48px;
	overflow: hidden;
	width: 48px;
	margin-top: 3px;
}



div#streams div.message-content{
	/*margin-left: 58px;*/
	min-height: 48px;
}

div#streams div.message-header{
	
}


div#streams div.message-footer{
	
}

div#streams div.message-comment{
	
}

div.mess{
	height:auto;
	width:630px;
	border-top:1px solid grey;
}

div.mess-left-side{
	width:80px;
	float:left;
	text-align:center;
}

div.message-image{
	height:50px;
	width:79px;
}

img.message-img-image, img.comment-img-image{
	width:48px;
	height:48px;
}

div.mess-right-side{
	width:549px;
	float:left;
}

div.message-content{
	margin-left:0px;
	width:548px;
	min-height:60px;
	height:auto;
}

div.message-buttons{
	position:absolute;
	opacity:0.2;
	margin-left:410px;
	margin-top:-5px;
	width:135px;
	text-align:right;
}

div.message-author-info{
	text-align:right;
	padding-right:10px;
	width:548px;
	height:20px;
}

span.info-message{
	font-style:italic;
	color:grey;
}

div.comment-field{
	width:548px;
	height:auto;
}

div.other-comment{
	border-bottom:1px solid grey;
	padding:3px;
}

span.loadcomment, span.hidecomment{
	cursor:pointer;
	color:grey;
}

div.input-comment{
	height:auto;
	padding-top:5px;
	text-align:right;
}

input.input-comment-field-dis{
	width:100%;
}

div.comment{
	margin-top:10px;
	height:auto;
	width:540px;
	border-bottom:1px solid grey;
}

div.comment-left-side{
	width:80px;
	float:left;
	text-align:center;
}

div.comment-image{
	height:50px;
	width:79px;
}

div.comment-right-side{
	width:459px;
	float:left;
}

div.comment-content{
	margin-left:0px;
	width:468px;
	min-height:40px;
	height:auto;
}

div.comment-buttons{
	position:absolute;
	opacity:0.2;
	margin-left:330px;
	margin-top:-5px;
	width:135px;
	text-align:right;
}

div.comment-author-info{
	text-align:right;
	padding-right:10px;
	width:468px;
	height:20px;
}

span.info-comment{
	font-style:italic;
	color:grey; 
}

textarea.comment-input{
	width:540px;
	margin-bottom:10px;
}

a.cancelButton{
	cursor:pointer;
}
