#streams_modal_window{
	position:absolute;
	width:440px;
	height:300px;
	display:none;
	z-index:9999;
	padding:20px;
	top:0;
	left:0;
}

.closeModal{
	right:0;
}

div.tab{
	border:1px;
	border-color:darkblue;
}
div.tabSelected{
	border:1px;
	border-color:darkblue;
}

div.tab{
	float:left;
	border:1px;
	width:100px;
	background-color:lightgray;
	cursor:pointer;
}

div.selectedTab{
	float:left;
	border:3px;
	width:100px;
	background-color:white;
}

div.tabContent{
	visibility:visible;
	height:150px;
	overflow-y:auto;
}
div.tabHiddenContent{
	visibility:hidden;
	height:0px;
}

