{% extends "templates/layout_block.html" %}
{% block javascript %}
	<script type="text/javascript" src="/js/holiday_planning.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/holiday_request.css"/>
	<link rel="stylesheet" type="text/css" href="/css/holiday_planning_summary.css"/>
{% endblock %}

{% block template %}
	<script type="text/html" id="my-collaborators-template">{% i18n "my_collaborators"%}</script>
	<script type="text/html" id="back-to-planning-template">{% i18n "back_to_planning"%}</script>
{% endblock %}

{% block title %}
	{% i18n "holiday-hr-page-title" %}
{% endblock %}

{% block content %}
	<div id="main-human-page-content">
		<div id="monthSelector">
		</div>

		<div class="header">
			<div id="dates-title" class="text-bold-black"></div>
			{% if userManager %}
				<div class="classic-buttons-bar">
					<input id="change-mode" type="button" class="button_emphasis" value="{% i18n "my_collaborators"%}"/>
				</div>
			{% endif %}
		</div>
		<div id="main-table-content">
			<div id="table-legend">
				<img class="legend-icon" src="/images/day_taken.png"/> {% i18n "day_taken" %}
				<img class="legend-icon" src="/images/am_taken.png"/> {% i18n "am_taken" %}
				<img class="legend-icon" src="/images/pm_taken.png"/> {% i18n "pm_taken" %}	
			</div>
			<table id="usersHoliday" class="kernely_table">
				
			</table>
		</div>
		<div class="clear"></div>
	</div>
{% endblock %}
