{% extends "templates/layout_without_sidebar.html" %}
{% block javascript %}
	<script type="text/javascript" src="/js/holiday_summary.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/holiday_planning_summary.css"/>
{% endblock %}

{% block template %}
{% endblock %}

{% block title %}
	{% i18n "holiday-summary-page-title" %}
{% endblock %}

{% block content %}
	<div id="monthSelector"></div>
	<div id="dates-title" class="text-bold-black"></div><br/><br/>
	<div id="holiday-summary"></div>
{% endblock %}