{% extends "templates/layout.html" %}
{% block javascript %}
	<script type="text/javascript" src="/js/holiday_summary.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/holiday_planning_summary.css"/>
{% endblock %}

{% block template %}
{% endblock %}

{% block title %}
	{% i18n "holiday-summary-page-title" %}
{% endblock %}

{% block content %}
	<div id="monthSelector"></div>
	<div id="holiday-summary"></div>
{% endblock %}

{% block left %}
<div id="profile_mask"></div>
<div id="left_profile_arrow"></div>
<div id='left_profile_container'>
	<img src="/images/{{currentUser.image}}" id="image_left_profile"/>
	<div id="left_profile_name">{{currentUser.firstname}} {{currentUser.lastname}}</div>
</div>
{% endblock %}