{% extends "templates/layout_block.html" %}
{% block javascript %}
	<script type="text/javascript" src="/js/holiday_planning.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/holiday_request.css"/>
	<link rel="stylesheet" type="text/css" href="/css/holiday_planning_summary.css"/>
{% endblock %}

{% block template %}
	<script type="text/html" id="balance-cells-legend">
		<span style="font-weight:bold;">{{"{{"}}name{{"}}"}}</span>
	</script>
	<script type="text/html" id="type-cell-template">
	<div class="balance-cell-amount"></div>
	<div class="balance-cell-title">{{"{{"}}name{{"}}"}}</div>
</script>
{% endblock %}

{% block title %}
	{% i18n "holiday-hr-page-title" %}
{% endblock %}

{% block content %}
	<div id="main-human-page-content">
		<div id="monthSelector">
		</div>

		<div id="dates-title" class="text-bold-black"></div>
		{% if userManager %}
			<div class="classic-buttons-bar">
				<input id="my-collaborators" type="button" class="button_emphasis" value="{% i18n "my_collaborators"%}"/>
			</div>
		{% endif %}
		<div id="main-human-table-content">
			
			<table id="usersHoliday" class="kernely_table">
				
			</table>
		</div>
	</div>
{% endblock %}
