{% extends "templates/layout.html" %}
{% block javascript %}
	<script type="text/javascript" src="/js/holiday_summary.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/holiday_planning_summary.css"/>
{% endblock %}

{% block template %}
	<script type="text/html" id="calendarSelector">
		<img class="minusMonth" src="/images/previous.png"/>
		<span id="month_current" style="width:300px;">{{"{{"}}month{{"}}"}} {{"{{"}}year{{"}}"}}</span>
		<img class="plusMonth" src="/images/next.png"/>
	</script>
	
	<script type="text/html" id="1-month-template">{% i18n "january" %}</script>
	<script type="text/html" id="2-month-template">{% i18n "february" %}</script>
	<script type="text/html" id="3-month-template">{% i18n "march" %}</script>
	<script type="text/html" id="4-month-template">{% i18n "april" %}</script>
	<script type="text/html" id="5-month-template">{% i18n "may" %}</script>
	<script type="text/html" id="6-month-template">{% i18n "june" %}</script>
	<script type="text/html" id="7-month-template">{% i18n "july" %}</script>
	<script type="text/html" id="8-month-template">{% i18n "august" %}</script>
	<script type="text/html" id="9-month-template">{% i18n "september" %}</script>
	<script type="text/html" id="10-month-template">{% i18n "october" %}</script>
	<script type="text/html" id="11-month-template">{% i18n "november" %}</script>
	<script type="text/html" id="12-month-template">{% i18n "december" %}</script>
{% endblock %}

{% block title %}
	{% i18n "holiday-summary-page-title" %}
{% endblock %}

{% block content %}
	<div id="monthSelector"></div>
	<div id="holiday-summary"></div>
{% endblock %}

{% block left %}
<div id="profile_mask"></div>
<div id='left_profile_container'>
	<img src="/images/{{currentUser.image}}" id="image_left_profile"/>
	<div id="left_profile_name">{{currentUser.firstname}} {{currentUser.lastname}}</div>
</div>
{% endblock %}