{% extends "templates/layout.html" %}
{% block javascript %}
	<script type="text/javascript" src="/js/holiday_user_request.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/holiday_user_request.css"/>
{% endblock %}

{% block template %}	
	<script type="text/html" id="cancel-ask-template">
		{% i18n "canceled_ask" %}
	</script>
	
	<script type="text/html" id="holiday-canceled-template">
		{% i18n "canceled" %}
	 </script>
	 
	 <script type="text/html" id="holiday-cancel-template">
		{% i18n "cancel" %}
	 </script>
	
	 <script type="text/html" id="status-denied-template">
	 	<span style="color:red;">{% i18n "denied" %}</span>
	 </script>
	 
	 <script type="text/html" id="table-request-comment-column">
	 	{% i18n "requester_comment" %}
	 </script>
	 
	 <script type="text/html" id="table-begin-date-column">
	 	{% i18n "begin_date" %}
	 </script>
	 
	 <script type="text/html" id="table-end-date-column">
	 	{% i18n "end_date" %}
	 </script>
	 
	 <script type="text/html" id="table-manager-column">
	 	{% i18n "manager" %}
	 </script>
	 
	 <script type="text/html" id="table-manager-comment-column">
		 {% i18n "manager_comment" %}
	 </script>
	 
	 <script type="text/html" id="table-status-column">
	 	{% i18n "status" %}
	 </script>
	 
	 <script type="text/html" id="status-accepted-template">
	 	<span style="color:green;">{% i18n "accepted" %}</span>
	 </script>
	 
	<script type="text/html" id="status-accepted-or-denied-template">
	 	<td>{{"{{"}}requesterComment{{"}}"}}</td><td>{{"{{"}}beginDate{{"}}"}}</td><td>{{"{{"}}endDate{{"}}"}}</td>
	</script>
	
	<script type="text/html" id="new-request-form">
		<form method="POST" action="/holiday/request/">
			<label for="from">{% i18n "from_date" %} </label><input class="kernely_input" readonly="readonly" type="text" id="from" name="from"/><br/>
			<label for="to"> {% i18n "to_date" %} </label><input class="kernely_input" readonly="readonly" type="text" id="to" name="to"/><br/>
			<div class="dialog-buttons-container">
				<input id="submitPeriod" class="button_ok" type="submit" value="{% i18n "ok" %}"/>
				<input id="cancel-request-form" class="button_standard" type="button" value="{% i18n "cancel" %}"/>
			</div>
		</form>
	</script>
{% endblock %}

{% block title %}
	{% i18n "title_user_request" %}
{% endblock %}

{% block content %}	
	<div id="request-manager-main">
		<div id="holiday_button_container">
			<input type="button" class="button_standard" id="button_canceled" value="{% i18n "canceled" %}" disabled="disabled"/>
			<input type="button" class="button_standard" id="new_request" value="{% i18n "new-request" %}" />
		</div>
		<div class="subtitle">{% i18n "title_table_1" %}</div>
		<table id="user_pending_request_table" class="kernely_table">
		</table>
		<br/>
		<div class="subtitle">{% i18n "title_table_2" %}</div>
		<table id="user_request_table" class="kernely_table">
		</table>
	</div>
{% endblock %}

{% block left %}
	<div id="profile_mask"></div>
	<div id="left_profile_arrow"></div>
	<div id='left_profile_container'>
		<img src="/images/{{currentUser.image}}" id="image_left_profile"/>
		<div id="left_profile_name">{{currentUser.firstname}} {{currentUser.lastname}}</div>
	</div>
{% endblock %}


