{% extends "templates/admin.html" %}
{% block subjavascript %}
	<script type="text/javascript" src="/js/holiday_profile_admin.js"></script>
{% endblock %}

{% block subcss %}
	<link rel="stylesheet" type="text/css" href="/css/holiday_admin.css"/>
{% endblock %}

{% block subtemplate %}
	<script type="text/html" id="create-template">{% i18n "create" %}</script>
	<script type="text/html" id="edit-template">{% i18n "edit" %}</script>

	<script type="text/html" id="table-profile-name-column">
		{% i18n "holiday_profile_name" %}
	</script>
	
	<script type="text/html" id="table-profile-types-column">
		{% i18n "holiday_profile_description" %}
	</script>
	
	<script type="text/html" id="table-profile-users-column">
		{% i18n "holiday_profile_users" %}
	</script>
	
	<script type="text/html" id="confirm-holiday-profile-deletion-template">
	{% i18n "confirm_holiday_profile_deletion" %}
	</script>
	
	<script type="text/html" id="confirm-holiday-type-deletion-template">
	{% i18n "confirm_holiday_type_deletion" %}
	</script>
	
	<script type="text/html" id="popup-holiday-profile-error-name-template">
	{% i18n "holiday_profile_error_name" %}
	</script>
	
	<script type="text/html" id="popup-holiday-profile-error-no-type-template">
	{% i18n "holiday_profile_no_type_error" %}
	</script>
	
	<script type="text/html" id="update-button-template">{% i18n "update" %}</script>
	
	<script type="text/html" id="holiday-success-message-template">
	{% i18n "holiday_success_message" %}
	</script>
	
	<!-- Templates for titles of dialogs -->
	<script type="text/html" id="create-template">{% i18n "create" %}</script>
	<script type="text/html" id="edit-template">{% i18n "edit" %}</script>
	<script type="text/html" id="delete-template">{% i18n "delete" %}</script>
	
	<!-- Templates for months and year -->
	<script type="text/html" id="month-template">{% i18n "month" %}</script>
	<script type="text/html" id="year-template">{% i18n "year" %}</script>
	<script type="text/html" id="0-month-template">{% i18n "all_month" %}</script>
	
	<!-- Yes and no -->
	<script type="text/html" id="yes-template">{% i18n "yes" %}</script>
	<script type="text/html" id="no-template">{% i18n "no" %}</script>
	
	<!-- Template for holiday types lines-->
	<script type="text/html" id="holiday-type-line-template">
		<td>
			<input type="text" name="name" value="{{"{{"}}name{{"}}"}}" class="holiday-name"/>
		</td>
		<td>
			<input type="checkbox" name="unlimited" class="holiday-unlimited">
		</td>
		<td>
			<input type="text" name="quantity" value="{{"{{"}}quantity{{"}}"}}" class="holiday-quantity" size="2" maxlength="4" />
		</td>
		<td>
			{% i18n "holiday_days_every" %}
		</td>
		<td>
			<select name="unity" class="holiday-unity"><option value="12">{% i18n "month" %}</option><option value="1">{% i18n "year" %}</option></select>
		</td>
		<td>
			<select name="effectivemonth" class="holiday-effectivemonth">
				<option value="0" selected="selected">{% i18n "all_month" %}</option>
				<option value="1">{% i18n "january" %}</option>
				<option value="2">{% i18n "february" %}</option>
				<option value="3">{% i18n "march" %}</option>
				<option value="4">{% i18n "april" %}</option>
				<option value="5">{% i18n "may" %}</option>
				<option value="6">{% i18n "june" %}</option>
				<option value="7">{% i18n "july" %}</option>
				<option value="8">{% i18n "august" %}</option>
				<option value="9">{% i18n "september" %}</option>
				<option value="10">{% i18n "october" %}</option>
				<option value="11">{% i18n "november" %}</option>
				<option value="12">{% i18n "december" %}</option>
			</select>
		</td>
		<td>
			<input class="holiday-anticipated" name="anticipated" type="checkbox"/>
		</td>
		<td>
			<input class="holiday-color" type="text" name="color" size="6" maxlength="7" value="{{"{{"}}color{{"}}"}}" />
		</td>
		<td>
			<input type="button" value="{% i18n "ok" %}" class="edit_button button_standard"/>
		</td>
		<td>
			<input type="button" value="{% i18n "delete" %}" class="delete_button button_standard"/>
		</td>
	
	</script>
	
	<!-- Template for the create and edit view  -->
	<script type="text/html" id="popup-holiday-admin-create-template">
		<div id="modal_window_holiday_create">
			<div id="errors_message"></div>
			{% i18n "holiday_profile_name" %}: <input value="{{"{{"}}profilename{{"}}"}}" type="input" id="holiday-profile-name"/>
			<div id="holiday-table-div">
				<table class="kernely_table" id="holiday-types-list-table">
					<tr>
						<th>{% i18n "holiday_name" %}</th>
						<th>{% i18n "unlimited_holidays" %}</th>
						<th colspan="3">{% i18n "holiday_gain" %}</th>
						<th>{% i18n "holiday_effective_month" %}</th>
						<th>{% i18n "can_be_anticipated" %}</th>
						<th>{% i18n "holiday_color" %}</th>
						<th></th>
					</tr>
				</table>
			</div>
			<div class="dialog-buttons-container">
				<input type="button" value="New type" class="newHolidayButton button_standard"/>
				<input type="button" value="{% i18n "create" %}" class="createHolidayProfile button_ok"/>
			</div>
		</div>
	</script>
	
	<!-- Template for edit users view  -->
	<script type="text/html" id="popup-holiday-admin-users-template">
		<div id="modal_window_holiday_create">
			<div id="holiday-users-boxes">
				<div id="out-listbox-div">
		
				</div>
				<div id="in-out-buttons">
					<input type="button" value="==>" class="addUserButton"/>
					<br/>
					<input type="button" value="<==" class="removeUserButton"/>
				</div>
				<div id="in-listbox-div">
				
				</div>
			</div>
			<div class="dialog-buttons-container">
				<input type="button" class="updateUsersButton button_ok" value="{% i18n "update" %}" />
			</div>
		</div>
	</script>
{% endblock %}

{% block adminbuttons %}
	<div id="holiday_admin_buttons">
		<input type="button" class="createButton button_standard" value="{% i18n "create" %}"/>
		<input type="button" class="editButton button_standard" value="{% i18n "edit" %}" disabled="disabled"/>
		<input type="button" class="usersButton button_standard" value="{% i18n "holiday_profile_users" %}" disabled="disabled"/>
	</div>
{% endblock %}

{% block admintitle %}
	{% i18n "profile_holiday_admin_title" %}
{% endblock %}

{% block admin %}
	<div id="modal_window_holiday"></div>

	<div id="holiday_admin_container">
		<table id="holiday_admin_table" class="kernely_table">
			
		</table>
	</div>
{% endblock %}
