{% extends "templates/layout_block.html" %}
{% block javascript %}
	<script type="text/javascript" src="/js/holiday_manager_users.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/holiday_request.css"/>
	<link rel="stylesheet" type="text/css" href="/css/holiday_planning_summary.css"/>
{% endblock %}

{% block template %}
	<script type="text/html" id="balance-cells-legend">
	<span style="font-weight:bold;">{{"{{"}}name{{"}}"}}</span>
	</script>
	<script type="text/html" id="type-cell-template">
		<div class="balance-cell-amount"></div>
		<div class="balance-cell-title">{{"{{"}}name{{"}}"}}</div>
	</script>
{% endblock %}

{% block title %}
	{% i18n "manager-users-title" %}
{% endblock %}

{% block content %}
	<div id="main-manager-page-content">
		<div id="monthSelector">
		</div>
		<div class="header">
			<div id="dates-title" class="text-bold-black"></div>
			<div class="classic-buttons-bar">
				<input id="btn-planning" type="button" class="button_emphasis" value="{% i18n "back_to_planning"%}"/>
			</div>
		</div>
		<div id="main-manager-table-content">
			<table id="usersHoliday" class="kernely_table" cellspacing="0">
		
			</table>
		</div>
		<div class="clear"></div>
	</div>
{% endblock %}