{% extends "templates/layout.html" %}
{% block javascript %}
	<script type="text/javascript" src="/js/holiday_request.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/holiday_request.css"/>
{% endblock %}

{% block template %}	
	<script type="text/html" id="balance-cell-template">
		<div class="balance-cell">
			<div class="balance-cell-amount">{{"{{"}}available{{"}}"}}</div>
			<div class="balance-cell-title">{{"{{"}}name{{"}}"}}</div>
		</div>
	</script>
	
	<script type="text/html" id="balance-unlimited-cell-template">
			<div class="balance-cell-amount"></div>
			<div class="balance-cell-title">{{"{{"}}name{{"}}"}}</div>
	</script>
	
	<script type="text/html" id="locale-lang">{% i18n "locale_lang" %}</script>
	
	<script type="text/html" id="locale-country">{% i18n "locale_country" %}</script>
	
	<script type="text/html" id="holiday-success-request-message-template">{% i18n "holiday_request_submit_success" %}</script>
	
	<script type="text/html" id="morning-text-template">
		{% i18n "morning-lit" %}
	</script>
	
	<script type="text/html" id="afternoon-text-template">
		{% i18n "afternoon-lit" %}
	</script>
	<script type="text/html" id="no-balance-template">
		<div class="no-balance-display">
			{% i18n "no-balance" %}
		</div>
	</script>
{% endblock %}

{% block title %}
	{% i18n "new-request-title" %}
{% endblock %}

{% block content %}
		<div id="request-main">
			<div id="calendarRequest">
				<table id="calendar-table" border="0">
					<tbody id="calendarContent">
					</tbody>
				</table>
				<div id="requester-comment-div">
					<div class="subtitle">{% i18n "comment_message" %}</div>
					<textarea id="requester-comment"></textarea>
				</div>
				<div id="buttons-container">
					<input type="button" id="cancel-holidays" class=" button_standard" value="{% i18n "cancel" %}" onClick="window.location = '/holiday'"/>
					<input type="button" id="validate-holidays" class=" button_ok" value="{% i18n "ok" %}"/>
				</div>
			</div>
		</div>
{% endblock %}
{% block right %}
	<div id="colorSelector" class="right_block_without_padding">
		<div id="balance-selector-tabs">
			<div id="limited-tab" class="balance-selector-tab balance-selector-tab-selected">{% i18n "limited-tab" %}</div>
			<div id="unlimited-tab" class="balance-selector-tab ">{% i18n "unlimited-tab" %}</div>
		</div>
		<div id="limited-balances"></div>
		<div id="unlimited-balances" class="balance-tab-invisible"></div>
	</div>
	
	<div id="help" class="right_block user-help">
		{% i18n "request-user-help" %}
	</div>
{% endblock %}

{% block left %}
	<div id="profile_mask"></div>
	<div id="left_profile_arrow"></div>
	<div id='left_profile_container'>
		<img src="/images/{{currentUser.image}}" id="image_left_profile"/>
		<div id="left_profile_name">{{currentUser.firstname}} {{currentUser.lastname}}</div>
	</div>
{% endblock %}