{% extends "templates/layout.html" %}
{% block javascript %}
	<script type="text/javascript" src="/js/holiday_manager_users.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/holiday_manager_users.css"/>
{% endblock %}

{% block template %}
	<script type="text/html" id="balance-cells-legend">
		<span style="font-weight:bold;">{{"{{"}}name{{"}}"}}</span>
	</script>
{% endblock %}

{% block title %}
	{% i18n "manager-users-title" %}
{% endblock %}

{% block content %}	

	<div id="main-manager-page-content">
		<div id="monthSelector">
		</div>
		<div class="classic-buttons-bar">
			<input type="button" class="button_emphasis" value="{% i18n "back_to_planning"%}" onClick='window.location="/holiday/planning"'/>
		</div>
		<div id="main-manager-table-content">
			<table id="usersHoliday" cellspacing="0">
				
			</table>
		</div>
		
		<div id="color-legend">
		
		</div>
	</div>
{% endblock %}
{% block left %}
<div id="profile_mask"></div>
<div id="left_profile_arrow"></div>
<div id='left_profile_container'>
	<img src="/images/{{currentUser.image}}" id="image_left_profile"/>
	<div id="left_profile_name">{{currentUser.firstname}} {{currentUser.lastname}}</div>
</div>
{% endblock %}