{% extends "templates/layout_without_sidebar.html" %}
{% block javascript %}
	<script type="text/javascript" src="/js/holiday_manager_request.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/holiday_main.css"/>
	<link rel="stylesheet" type="text/css" href="/css/holiday_request.css"/>
{% endblock %}

{% block template %}
	<script type="text/html" id="acceptance-error-template">
		{% i18n "acceptance-error" %}
	</script>

	<script type="text/html" id="refusal-error-template">
		{% i18n "refusal-error" %}
	</script>
	
	<script type="text/html" id="status-accepted-template">
		{% i18n "accepted" %}
	</script>
	
	<script type="text/html" id="holiday-accept-template">
		{% i18n "accepted_done" %}
	</script>
	
	<script type="text/html" id="holiday-deny-template">
		{% i18n "denied_done" %}
	</script>
	
	<script type="text/html" id="status-accepted-or-denied-template">
		 	<td>{{"{{"}}from{{"}}"}}</td><td>{{"{{"}}requesterComment{{"}}"}}</td><td>{{"{{"}}beginDate{{"}}"}}</td><td>{{"{{"}}endDate{{"}}"}}</td><td><input type="button" class="button_accepted" value="{% i18n "accepted" %}"/></td><td><input type="button" class="button_denied" value="{% i18n "denied" %}"/></td><td><input type="button" class="button_visualize" value="{% i18n "visualize" %}"/></td>
	</script>
	
	<script type="text/html" id="balance-cell-template">
		<span id="balance-cell-name">{{"{{"}}name{{"}}"}}</span><br/>
		{% i18n "holiday_balance_available" %}: <span class="available-cpt">{{"{{"}}available}}</span>
	</script>
	
	<script type="text/html" id="locale-lang">{% i18n "locale_lang" %}</script>
	
	<script type="text/html" id="locale-country">{% i18n "locale_country" %}</script>
	
	<script type="text/html" id="accept-template">{% i18n "accept_title" %}</script>
	<script type="text/html" id="deny-template">{% i18n "deny_title" %}</script>
	<script type="text/html" id="visualize-template">{% i18n "visualize" %}</script>
	
	<script type="text/html" id="popup-accept-template">
		<div id="notification_dialog_accept_to_user"></div>
		<fieldset>	
		<legend>{% i18n "accepted_ask" %}</legend>
		{% i18n "accepted_commentary" %} <textarea class="comment-area" id="comment_accept"></textarea><br/>
		</fieldset>
		<br/>
		<div class="dialog-buttons-container">
			<input type="button" value="{% i18n "yes" %}" class="validateHolidayRequest button_ok"/>
			<input type="button" value="{% i18n "no" %}" class="cancelPopup button_standard"/>
		</div>
	</script>
	
	<script type="text/html" id="popup-visualize-template">	
		<div id="notification_dialog_visu_to_user"></div>
		<div id="request-main">  
		<div id="calendarRequest">
			<table id="calendar-table" border="0">
				<tbody id="calendarContent">
				<tbody>
			</table>
		</div>
		<textarea class="comment-area" id="comment_visu"></textarea><br/>
		<div class="dialog-buttons-container">
			<input type="button" class="button_emphasis" id="button_denied" value="{% i18n "deny" %}" />
			<input type="button" class="button_emphasis" id="button_accepted" value="{% i18n "accept" %}"/>
			<input type="button" class="button_emphasis" id="button_close" value="{% i18n "close" %}"/>
		</div>
	</script>
	
	<script type="text/html" id="popup-deny-template">
		<div id="notification_dialog_deny_to_user"></div>
		<fieldset>	
		<legend>{% i18n "denied_ask" %}</legend>
		{% i18n "denied_commentary" %}  <textarea class="comment-area" id="comment_deny"></textarea><br/>
		</fieldset>
		<div class="dialog-buttons-container">
			<input type="button" value="{% i18n "yes" %}" class="denyHolidayRequest button_ok"/>
			<input type="button" value="{% i18n "no" %}" class="cancelPopup button_standard"/>
		</div>
	</script>
	
	<script type="text/html" id="requester-column-template">
		{% i18n "requester" %}
	</script>
	
	<script type="text/html" id="requester-comment-column-template">
		{% i18n "requester_comment" %}
	</script>
	
	<script type="text/html" id="begin-column-template">
		{% i18n "begin_date" %}
	</script>
	
	<script type="text/html" id="end-column-template">
		{% i18n "end_date" %}
	</script>
	
	<script type="text/html" id="manager-comment-column-template">
		{% i18n "manager_comment" %}
	</script>
	
	<script type="text/html" id="from-column-template">
	</script>
	
	<script type="text/html" id="year-block-request">
		<div class="header-block-year clickable">{{"{{"}}year{{"}}"}}</div>
		<div class="content-block-year">{% i18n "no-data" %}</div>
	</script>
	
{% endblock %}

{% block title %}
	{% i18n "request-management-title" %}
{% endblock %}

{% block content %}	
	<div id="modal_accept_window_holiday_request">
	</div>
	
	<div id="modal_deny_window_holiday_request">
	</div>
	
	<div id="modal_visualize_window_holiday_request">
	</div>
	
	<div id="request-manager-main">
		<div class="subtitle">{% i18n "title_table_1" %}</div>
		<table id="manager_pending_request_table" class="kernely_table">
		
		</table>
		<div class="subtitle separate">{% i18n "title_table_2" %}</div>
		<div id="statued_requests">
		
		</div>
	</div>
{% endblock %}
