.time-cell{
	width:210px;
	height:25px;
	border-bottom:1px solid #a0a2a3;
	cursor:pointer;
	font-weight:bold;
	color:#000;
	padding:10px 0 0 10px;
}

.time-cell:hover{
	background-color:#e7e7e7;
}

.time-cell:last-child{
	border:none;
}

.time-cell-selected{
	background-color:#3e3d40;
	color:#FFFFFF;
}
table.timesheet-table{	
	border-spacing:7px 7px;
}

table.timesheet-table td{
	border:1px solid #9c9e9f;
	width:62px;
	height:27px;
	text-align:center;
	vertical-align:middle;
}

td.day-validated{
	cursor:default;
	background-color:#A0A2A3;
}

td.day-unavailable{
	cursor:default;
	background:url("/images/cross.png") no-repeat;
	background-position:center;
}

td.day-half-available{
	background-color:#E3E4E4;
}

td.day-unavailable span{
	cursor:default;
}

td.day-validated span{
	cursor:default;
}

table.timesheet-table tr.date-line td{
	background-color:#e3e4e4;
	font-weight:bold;	
}

table.timesheet-table tr.columnTotalsRow td, table.timesheet-table td.total{
	background-color:#97ad17;
	font-weight:bold;
	color:#FFFFFF;
	
}

table.timesheet-table tr.expense-line td{
	font-weight:bold;
	color:#000;
	height:55px;
}


div.edit-timesheet-icon{
	position:absolute;
	background-color:#c8c8c8;
	width:15px;
	top:0;
}


img.editButton{
	position:absolute;
	top:0;
	right:0;
	display:none;
}


div.editAmount, span.editAmount{
	position:relative;
	float:left;
	width:58px;
	min-height:13px;
	display:block;
	cursor:pointer;
}

input.editAmount{
	float:left;
	width:54px;
	height:20px;
	display:block;
	text-align:center;
}

.timesheet-project-select{
	width:200px;
	padding-left:7px;
}

#title-layout{
	padding-left:7px;
}

#timesheet-layout{
	position:relative;
	border:1px solid #9c9e9f;
	width:100%;
	height:auto;
}

#weekSelector{
	float:left;
}

#dates-title{
	padding:7px;
}


#expense-comment{
	width:100%;
}

#expense-amount{
	width:50px;
}

#expense-form{
	margin-top:10px;
}

#expense-amount-update{
	width:50px;
}
