{% extends "templates/admin.html" %}

{% block subcss %}
	<link rel="stylesheet" type="text/css" href="/css/expense_type_admin.css"/>
{% endblock %}

{% block admintitle %}
{% i18n "expenses_admin_title" %}
{% endblock %}

{% block subjavascript %}
	<script type="text/javascript" src="/js/expense_type_admin.js"></script>
{% endblock %}

{% block adminbuttons %}
	<div id="expense_type_admin_buttons">
		<input type="button" class="createButton button_standard" value="{% i18n "create" %}"/>
		<input type="button" class="editButton button_standard" value="{% i18n "edit" %}" disabled="disabled"/>
		<input type="button" class="deleteButton button_standard" value="{% i18n "delete" %}" disabled="disabled"/>
	</div>
{% endblock %}

{% block admin %}
	<div id="expense_type_admin_container">
	        <table id="expense_type_admin_table" class="kernely_table">
	                
	        </table>
	</div>
	<div id="expense_type_header"></div>
	<div id="modal_window_expense_type"></div>
{% endblock %}
	
{% block subtemplate %}
	<!-- Templates for titles of dialogs -->
	<script type="text/html" id="create-template">{% i18n "create" %}</script>
	<script type="text/html" id="edit-template">{% i18n "edit" %}</script>
	<script type="text/html" id="delete-template">{% i18n "delete" %}</script>

	<script type="text/html" id="table-expense-name-column">
		{% i18n "expense_type_name" %}
	</script>
	
	<script type="text/html" id="table-expense-direct-column">
		{% i18n "expense_type_direct" %}
	</script>
	
	<script type="text/html" id="table-expense-ratio-column">
		{% i18n "expense_type_ratio" %}
	</script>

	<script type="text/html" id="success-message-template">{% i18n "success_message" %}</script>

	<script type="text/html" id="expense-type-delete-confirm-template">
	{% i18n "confirm_expense_type_deletion" %}
	</script>

	<!-- Yes and no -->
	<script type="text/html" id="yes-template">{% i18n "yes" %}</script>
	<script type="text/html" id="no-template">{% i18n "no" %}</script>

	<script type="text/html" id="popup-expense-type-admin-create-template">
		<div id="errors_message"></div>
		<fieldset>
		<legend>{% i18n "expense_type_informations" %}</legend>
		{% i18n "expense_type_name" %}: <input type="text" name="name"/><br/>
		{% i18n "expense_type_direct" %}: <input type="checkbox" class="expense-type-cb" name="direct"/> 
		{% i18n "expense_type_ratio" %}: <input type="text" name="ratio" id="ratio_field"/>
		</fieldset>
		<div class="dialog-buttons-container">
			<input type="button" value="{% i18n "create" %}" class="create_expense_type button_ok"/>
		</div>
	</script>

	<script type="text/html" id="popup-expense-type-admin-update-template">
		<div id="errors_message"></div>
		<fieldset>
		<legend>{% i18n "expense_type_informations" %}</legend>
		{% i18n "expense_type_name" %}: <input type="text" name="name" value="{{"{{"}}name{{"}}"}}"/><br/>
		{% i18n "expense_type_direct" %}: <input type="checkbox" class="expense-type-cb" name="direct"/> 
		{% i18n "expense_type_ratio" %}: <input type="text" name="ratio" value="{{"{{"}}ratio{{"}}"}}" id="ratio_field"/>
		</fieldset>
		<div class="dialog-buttons-container">
			<input type="button" value="{% i18n "update" %}" class="updateExpenseType button_ok"/>
		</div>
	</script>
{% endblock %}