{% extends "templates/layout.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/timesheet.css"/>
{% endblock %}

{% block title %}
	{% i18n "timesheet" %}
{% endblock %}


{% block javascript %}
	<script type="text/javascript" src="/js/timesheet_main.js"></script>
{% endblock %}

{% block template %}
	<script type="text/html" id="delete-template">{% i18n "delete" %}</script>

	<script type="text/html" id="total-template">{% i18n "timesheet_total" %}</script>
	
	<script type="text/html" id="locale-lang">{% i18n "locale_lang" %}</script>
	<script type="text/html" id="locale-country">{% i18n "locale_country" %}</script>
	
	<script type="text/html" id="project-title-template">{% i18n "timesheet_project_title" %}</script>
	<script type="text/html" id="confirm-remove-line-template">{% i18n "timesheet_remove_line_confirm" %}</script>
	<script type="text/html" id="confirm-remove-expense-line-template">{% i18n "timesheet_remove_expense_line_confirm" %}</script>
	<script type="text/html" id="total-template">{% i18n "timesheet_total" %}</script>
	<script type="text/html" id="expense-line-title-template">{% i18n "expense_line_title" %}</script>
	<script type="text/html" id="delete-button-template"><img class="deleteButton" src="/images/icons/delete_icon.png"/></script>
	<script type="text/html" id="detail-template"><div class="editAmount"><span class="editAmount">{{"{{"}}amount{{"}}"}}</span><img class="editButton" src="/images/edit-timesheet-icon.png"/></div></script>
	<script type="text/html" id="detail-edit-template"><input type="text" class="editAmount" value="{{"{{"}}amount{{"}}"}}"/></script>
	
	<script type="text/html" id="time-amount-025">15 {% i18n "timesheet_minutes" %}</script>
	<script type="text/html" id="time-amount-05">30 {% i18n "timesheet_minutes" %}</script>
	<script type="text/html" id="time-amount-1">1 {% i18n "timesheet_hour" %}</script>
	<script type="text/html" id="time-amount-2">2 {% i18n "timesheet_hours" %}</script>
	<script type="text/html" id="time-amount-4">4 {% i18n "timesheet_hours" %}</script>
	<script type="text/html" id="time-amount-6">6 {% i18n "timesheet_hours" %}</script>
	<script type="text/html" id="time-amount-8">8 {% i18n "timesheet_hours" %}</script>
	
	<script type="text/html" id="time-cell-template">
		<span id="time-cell-name">{{"{{"}}amount{{"}}"}}</span>
	</script>
	
	<script type="text/html" id="expense-window">
		<span id="errors_message"></span>
		<fieldset>
		<legend>{% i18n "expense-header-table" %}</legend>
		<table id="expense-table" class="kernely_table">
			<thead>
				<tr>
					<th>{% i18n "expense_amount" %}</th>
					<th>{% i18n "expense_type" %}</th>
					<th><!-- Column for the edit button --></th>
					<th><!-- Column for the delete button --></th>
				</tr>
			</thead>
			<tbody id="expenses-lines">
			</tbody>
		</table>
		<div id="expense-form">
			{% i18n "expense_amount" %}: <input class="kernely_input" type="text" name="amount" id="expense-amount"/>
			<select id="expense-type-select"></select>
			<input type="button" class="button_emphasis" id="submit-expense" value="{% i18n "create" %}"/><br/>
		</div>
		</fieldset>
		<div class="dialog-buttons-container">
			<input type="button" value="{% i18n "ok" %}" class="create_expense button_ok"/>
		</div>
	</script>


{% endblock %}

{% block content %}
	<div id="modal_window_expense"></div>

	<div id="timesheet-main">
		<div class="classic-buttons-bar">
			<input type="button" class="button_emphasis no-margin" value="{% i18n "week" %}"/>
			<input type="button" class="button_standard no-margin" value="{% i18n "month" %}" onClick="window.location='/timesheet/bymonth'"/>
		</div>
		<div id="timesheet-layout">
			<div id="weekSelector"></div>
			<select class="timesheet-project-select" id="project-select"></select>
			<input type="button" id="add-project-button" class="button_standard" value="{% i18n "timesheet_add_project" %}"/>
			<div id="timesheet-div">
				<table id="timesheet-table" class="timesheet-table">
					<tbody id="timesheet-content" class="timesheet-content">
						<tr id="date-line" class="date-line"></tr>
					</tbody>
					<tbody>
						<tr id="columnTotalsRow" class="columnTotalsRow">
							<td>{% i18n "timesheet_total" %}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
					<tbody id="timesheet-expense" class="timesheet-expense">
						<tr id="expense-line" class="expense-line"><td></td></tr>
					<tbody>
				</table>
			</div>
		</div>
	</div>	
{% endblock %}

{% block right %}
	<div id="timePicker">
		<!-- Time picker to set time into days and projects -->
	</div>	
{% endblock %}

{% block left %}
<div id="profile_mask"></div>
<div id="left_profile_arrow"></div>
<div id='left_profile_container'>
	<img src="/images/{{currentUser.image}}" id="image_left_profile"/>
	<div id="left_profile_name">{{currentUser.firstname}} {{currentUser.lastname}}</div>
</div>
{% endblock %}