{% extends "templates/layout.html" %}

{% block javascript %}
<!-- Additional javascript -->
	<script type="text/javascript" src="/js/timesheet_view.js"></script>
{% endblock %}

{% block title %}
{% i18n "timesheet_month_title" %}
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/timesheet.css"/>
{% endblock %}

{% block left %}
<div id="profile_mask"></div>
<div id="left_profile_arrow"></div>
<div id='left_profile_container'>
	<img src="/images/{{currentUser.image}}" id="image_left_profile"/>
	<div id="left_profile_name">{{currentUser.firstname}} {{currentUser.lastname}}</div>
</div>
{% endblock %}

{% block template %}
	<script type="text/html" id="locale-lang">{%  i18n "locale_lang" %}</script>
	
	<script type="text/html" id="locale-country">{%  i18n "locale_country" %}</script>
	
	<script type="text/html" id="project-title-template">{%  i18n "timesheet_project_title" %}</script>
	
	<script type="text/html" id="confirm-remove-line-template">{%  i18n "timesheet_remove_line_confirm" %}</script>
	
	<script type="text/html" id="total-template">{%  i18n "timesheet_total" %}</script>
	
	<script type="text/html" id="detail-template"><span class="editAmount">{{"{{"}}amount{{"}}"}}</span></script>
	<script type="text/html" id="detail-edit-template"><input type="text" class="editAmount" value="{{"{{"}}amount{{"}}"}}"/></script>
	
	<script type="text/html" id="1-month-template">{%  i18n "january" %}</script>
	<script type="text/html" id="2-month-template">{%  i18n "february" %}</script>
	<script type="text/html" id="3-month-template">{%  i18n "march" %}</script>
	<script type="text/html" id="4-month-template">{%  i18n "april" %}</script>
	<script type="text/html" id="5-month-template">{%  i18n "may" %}</script>
	<script type="text/html" id="6-month-template">{%  i18n "june" %}</script>
	<script type="text/html" id="7-month-template">{%  i18n "july" %}</script>
	<script type="text/html" id="8-month-template">{%  i18n "august" %}</script>
	<script type="text/html" id="9-month-template">{%  i18n "september" %}</script>
	<script type="text/html" id="10-month-template">{%  i18n "october" %}</script>
	<script type="text/html" id="11-month-template">{%  i18n "november" %}</script>
	<script type="text/html" id="12-month-template">{%  i18n "december" %}</script>
	
	<script type="text/html" id="time-amount-025">15 {%  i18n "timesheet_minutes" %}</script>
	<script type="text/html" id="time-amount-05">30 {%  i18n "timesheet_minutes" %}</script>
	<script type="text/html" id="time-amount-1">1 {%  i18n "timesheet_hour" %}</script>
	<script type="text/html" id="time-amount-2">2 {%  i18n "timesheet_hours" %}</script>
	<script type="text/html" id="time-amount-4">4 {%  i18n "timesheet_hours" %}</script>
	<script type="text/html" id="time-amount-6">6 {%  i18n "timesheet_hours" %}</script>
	<script type="text/html" id="time-amount-8">8 {%  i18n "timesheet_hours" %}</script>
	
	<script type="text/html" id="time-cell-template">
		<span id="time-cell-name">{{"{{"}}amount{{"}}"}}</span>
	</script>
	
	<script type="text/html" id="calendarSelector">
			<img class="minusMonth" alt="<" src="/images/previous.png"/>
			<span id="month_current" style="width:100px;">{{"{{"}}month{{"}}"}} ({{"{{"}}year{{"}}"}})</span>
			<img class="plusMonth" alt=">" src="/images/next.png"/>
	</script>
	
	<script type="text/html" id="month-selector-template">
		<%=i18n.t("timesheet_month_title")%> {{"{{"}}month{{"}}"}}
	</script>
	
	<script type="text/html" id="timesheet-table-template">
		<table id="timesheet-table-{{"{{"}}tableId{{"}}"}}" class="timesheet-table">
			<tbody id="timesheet-content-{{"{{"}}tableId{{"}}"}}" class="timesheet-content">
				<tr id="date-line-{{"{{"}}tableId{{"}}"}}"  class="date-line"></tr>
			</tbody>
			<tbody>
				<tr id="columnTotalsRow-{{"{{"}}tableId{{"}}"}}" class="columnTotalsRow">
					<td>{%  i18n "timesheet_total" %}</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody id="timesheet-expense-{{"{{"}}tableId{{"}}"}}" class="timesheet-expense">
				<tr id="expense-line-{{"{{"}}tableId{{"}}"}}" class="expense-line"><td></td></tr>
			<tbody>
		</table>
	</script>
{% endblock%}

{% block content %}
	<div id="timesheet-main">
		<div class="classic-buttons-bar">
			<input type="button" class="button_standard no-margin" value="{% i18n "week" %}" onClick="window.location='/timesheet'"/>
			<input type="button" class="button_emphasis no-margin" value="{% i18n "month" %}"/>
		</div>
		<div id="timesheet-layout">
			<div id="monthSelector"></div>
			<div id="timesheet-div"></div>
			<input class="hidden button_ok" type="button" id="validate-month" value="{%  i18n "validate_timesheet" %}"/>
			<span class="hidden" id="month-validated-message">{%  i18n "timesheet_month_validated_message" %}</span>
		</div>
	</div>
{% endblock%}