{% extends "templates/layout_block.html" %}

{% block javascript %}
<!-- Additional javascript -->
	<script type="text/javascript" src="/js/timesheet_view.js"></script>
{% endblock %}

{% block title %}
{% i18n "timesheet_month_title" %}
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/timesheet.css"/>
{% endblock %}

{% block template %}
	<script type="text/html" id="locale-lang">{%  i18n "locale_lang" %}</script>
	
	<script type="text/html" id="locale-country">{%  i18n "locale_country" %}</script>
	
	<script type="text/html" id="project-title-template">{%  i18n "timesheet_project_title" %}</script>
	
	<script type="text/html" id="confirm-remove-line-template">{%  i18n "timesheet_remove_line_confirm" %}</script>
	
	<script type="text/html" id="total-template">{%  i18n "timesheet_total" %}</script>
	
	<script type="text/html" id="detail-template"><span class="editAmount">{{"{{"}}amount{{"}}"}}</span></script>
	<script type="text/html" id="detail-edit-template"><input type="text" class="editAmount" value="{{"{{"}}amount{{"}}"}}"/></script>
	
	<script type="text/html" id="time-amount-025">15 {%  i18n "timesheet_minutes" %}</script>
	<script type="text/html" id="time-amount-05">30 {%  i18n "timesheet_minutes" %}</script>
	<script type="text/html" id="time-amount-1">1 {%  i18n "timesheet_hour" %}</script>
	<script type="text/html" id="time-amount-2">2 {%  i18n "timesheet_hours" %}</script>
	<script type="text/html" id="time-amount-4">4 {%  i18n "timesheet_hours" %}</script>
	<script type="text/html" id="time-amount-6">6 {%  i18n "timesheet_hours" %}</script>
	<script type="text/html" id="time-amount-8">8 {%  i18n "timesheet_hours" %}</script>
	
	<script type="text/html" id="day-1-template">{% i18n "day_1_short" %}</script>
	<script type="text/html" id="day-2-template">{% i18n "day_2_short" %}</script>
	<script type="text/html" id="day-3-template">{% i18n "day_3_short" %}</script>
	<script type="text/html" id="day-4-template">{% i18n "day_4_short" %}</script>
	<script type="text/html" id="day-5-template">{% i18n "day_5_short" %}</script>
	<script type="text/html" id="day-6-template">{% i18n "day_6_short" %}</script>
	<script type="text/html" id="day-7-template">{% i18n "day_7_short" %}</script>
	
	<script type="text/html" id="total-template">{% i18n "timesheet_total" %}</script>
	<script type="text/html" id="project-column-title">{% i18n "timesheet_project_title" %}</script>
	
	
	
	<script type="text/html" id="expense-line-title-template">{% i18n "expense_line_title" %}</script>
	<script type="text/html" id="#validation-error-template">{% i18n "timesheet_validation_error" %}</script>
	
	<script type="text/html" id="time-cell-template">
		<span id="time-cell-name">{{"{{"}}amount{{"}}"}}</span>
	</script>
	
	<script type="text/html" id="no-timesheet"><td class="no-timesheet" colspan="{{"{{"}}days{{"}}"}}">{% i18n "timesheet_no_data" %}</td></script>
	
{% endblock%}

{% block content %}
	<div id="timesheet-main">
		<div class="classic-buttons-bar">
			<div id="monthSelector"></div>
			<input type="button" class="button_standard no-margin" value="{% i18n "week" %}" onClick="window.location='/timesheet'"/>
			<input type="button" class="button_emphasis no-margin" value="{% i18n "month" %}"/>
		</div>
		<div id="timesheet-layout">
			<div id="dates-title" class="text-bold-black"></div>
			<div id="timesheet-div"></div>
				<div id="dates-title" class="text-bold-black"></div>
				<div id="main-table-content">
					<table id="timesheet-table" class="timesheet-month-table">
						
					</table>
				</div>
				<div class="classic-buttons-bar">
					<span class="hidden" id="month-validated-message">{%  i18n "timesheet_month_validated_message" %}</span>
					<input class="hidden button_emphasis" type="button" id="validate-month" value="{%  i18n "validate_timesheet" %}"/>
				</div>

				<div class="clear"></div>
		</div>
	</div>
{% endblock%}