

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kernely : {% if page.title %} {{ page.title }} {% endif %} </title>

     
    <script src="public/js/jquery-1.7.2.min.js"></script>
    
    <!-- bootstrap import -->
  
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/public/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/public/css/style.css"/>
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.ico" />
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
        <a class="brand" href="#">
          <img src="{{root_url}}/kernely/public/img/kernely.png"/>kernely
        </a>
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav">
              <li >
                <a href="{{ site.baseurl }}">Home</a>
              </li>
              <li><a href="{{ site.baseurl }}/documentation">Documentation</a></li>
              <li><a href="{{ site.baseurl }}/about/">About</a></li>
            </ul>
          </div>
        </div>
      </div>
     <div class="container">

        {{content}}
      </div>
  </body>
</html>



