---
layout: default
title: Documentation
---

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
            
      <ul class="nav nav-list">
        <li class="nav-header">
          Developpers
        </li>
        <li>
          <a href="{{site.baseurl}}/documentation/developers/architecture">Architecture</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/documentation/developers/gettingstarted">Getting started</a>
        </li>
        <li class="nav-header">
          Plugin development
        </li>
        <li>
          <a href="{{site.baseurl}}/documentation/developers/plugins/">Plugin definition and structure</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/documentation/developers/migration/">Migrate database</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/documentation/developers/models/">Create and use models</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/documentation/developers/ui/">Controllers and views</a>
        </li>
         <li>
          <a href="{{site.baseurl}}/documentation/developers/security/">Use security</a>
        </li>
         <li class="nav-header">
          Deployment
        </li>
        <li >
          <a href="{{site.baseurl}}/documentation/installation">Installation</a>
        </li>

      </ul>
    </div>
    <div class="span9">
     {{content}}
    </div>
  </div>
</div>

