{% extends "templates/layout_without_sidebar.html" %}

{% block title %}
	{% i18n "invoice-view-title" %}
{% endblock %}

{% block css%}
	<link rel="stylesheet" type="text/css" href="/css/invoice.css"/>
{% endblock %}

{% block content %}
	<div id="invoice-visualization">
		<!-- Invoice button bar -->
		<div id="invoicing-buttons-bar">
			<input type="button" class="button_emphasis" id="export-invoice" value="{% i18n "export" %}" onClick="window.open('/invoice/{{invoice.id}}/export'); return false;"/>
			<input type="button" class="button_emphasis" id="edit-invoice" value="{% i18n "edit" %}" onClick="window.location = '/invoice/{{invoice.id}}/edit';"/>
		</div>
		<!-- Invoice header -->
		<div id="invoice-header">
			<h2><span>{% i18n "invoice" %}</span> {{invoice.organizationName}}</h2>
		</div>
		<!-- General informations -->
		<div id="invoice-general-informations">			
			<table id="invoice-general-informations-table">
				<tr><td class="label-column">{% i18n "invoice-code" %}</td><td>{{invoice.code}}</td><td class="text-right"><b>{{invoice.organizationName}}</b></td></tr>
				<tr><td class="label-column">{% i18n "invoice-publication" %}</td><td>{{invoice.datePublicationString}}</td><td class="text-right">{{invoice.organizationAddress}}</td></tr>
				<tr><td class="label-column">{% i18n "invoice-term" %}</td><td>{{invoice.dateTermString}}</td><td class="text-right">{{invoice.organizationZip}} {{invoice.organizationCity}}</td></tr>
				<tr><td class="label-column">{% i18n "invoice-object" %}</td><td colspan="2">{{invoice.object}}</td></tr>
			</table>
		</div>
		<!-- Invoice details -->
		<br/>
		<div id="invoice-details">
			<table id="invoice-line-details-visualization" class="kernely_table">
				<thead>
					<tr class="invoice-lines-header">
						<th>{% i18n "invoice-line-description" %}</th>
						<th>{% i18n "invoice-line-quantity" %}</th>
						<th>{% i18n "invoice-line-unit-price" %}</th>
						<th>{% i18n "invoice-line-amount" %}</th>
						<th>{% i18n "invoice-line-vat" %}</th>
					</tr>
				</thead>
				<tbody id="invoice-lines-vis">
					{% for value in invoice.lines %}
						<tr>
							<td class="text-left">{{value.designation}}</td>
							<td>{{value.quantity}}</td>
							<td>{{value.unitPrice}}</td>
							<td class="text-right">{{value.amount}}</td>
							<td>{{value.vat}} %</td>
						</tr>
					{% endfor %}
				</tbody>
				<tbody id="additional-informations">
					<tr>
						<td colspan="3" class="text-right">{% i18n "invoice-total-df" %}</td><td class="text-right">{{invoice.amountDf}}</td><td class="hidden"></td>
					</tr>
					{% for value in invoice.vats %}
						<tr>
							<td colspan="3" class="text-right">{% i18n "invoice-line-vat" %} {{value.value}}%</td><td class="text-right">{{value.amount}}</td><td class="hidden"></td>
						</tr>
					{% endfor %}
					<tr class="total-line">
						<td colspan="3" class="text-right">{% i18n "invoice-total" %}</td><td class="text-right">{{invoice.amount}}</td><td class="hidden"></td>
					</tr>
				</tbody>
			</table>
			<div class="subtitle">{% i18n "invoice-comment" %}</div>
			<div id="invoice-comment">{{invoice.comment}}</div>
		</div>
	</div>
{% endblock %}