{% extends "templates/layout_without_sidebar.html" %}

{% block javascript %}
	<script type="text/javascript" src="/js/invoice_main.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/invoice.css"/>
{% endblock %}


{% block title %}
	{% i18n "invoicing" %}
{% endblock %}

{% block template %}
	<script type="text/html" id="invoice-creation-success-template">{% i18n "invoice-creation-success" %}</script>
	
	<script type="text/html" id="invoice-status-2">
		<img src="/images/invoice-unpaid.png" />
	</script>
	<script type="text/html" id="invoice-status-1">
		<img src="/images/invoice-paid.png" />
	</script>
	<script type="text/html" id="invoice-status-3">
		<!-- Undefined invoice -->
	</script>
	<script type="text/html" id="invoice-status-0">
		<img src="/images/invoice-pending.png" />
	</script>
	
	<script type="text/html" id="invoice-view-button">
		<img src="/images/icons/visualize_icon.png" class="edit-invoice" />
	</script>
	
	<script type="text/html" id="invoice-edit-button">
		<img src="/images/icons/edit_icon.png" class="edit-invoice" />
	</script>
	
	<script type="text/html" id="invoice-creation-window">
		<div id="errors_message"></div>
		<div id="invoice-creation-container">
			<form action="/invoice/create" method="POST">
				<div>
					<div class="invoice-create-category">{% i18n "choose-organization" %}</div>
					<select id="organization-selector-mod" name="organization">
						<option></option>
					</select>
				</div>
				<div class="separator-top-25">
					<div class="invoice-create-category">{% i18n "choose-project" %}</div>
					<select id="project-selector-mod" disabled="disabled" name="project">
						<option></option>
					</select>
				</div>
				<div id="invoice-create-buttons" class="dialog-buttons-container">
					<input type="button" value="{% i18n "cancel" %}" class="cancel_invoice button_standard"/>
					<input type="submit" value="{% i18n "create" %}" class="create_invoice button_ok"/>
				</div>
			</form>
		</div>
	</script>
	
	<script type="text/html" id="table-status-column">
		{% i18n "invoice-status" %}
	</script>
	
	<script type="text/html" id="table-number-column">
		{% i18n "invoice-number" %}
	</script>
	
	<script type="text/html" id="table-client-column">
		{% i18n "invoice-client" %}
	</script>
	
	<script type="text/html" id="table-project-column">
		{% i18n "invoice-project" %}
	</script>
	
	<script type="text/html" id="table-amount-column">
		{% i18n "invoice-amount" %}
	</script>
	
	<script type="text/html" id="create-template">{% i18n "create" %}</script>
{% endblock %}

{% block content %}
	<div id="mask"></div>
	
	<div id="modal_window_invoice"></div>
	
	
	<div id="invoicing-main">
		<div id="invoicing-header">
		</div>
		<div id="invoicing-buttons-bar">
			<input type="button" class="invoice-publish button_standard" value="Publish" />
			<input type="button" class="invoice-paid button_standard" value="Paid" />
			<input type="button" class="invoice-unpaid button_standard" value="Unpaid"/>
			<input type="button" class="button_emphasis" value="{% i18n "new-invoice" %}" id="new-invoice">
		</div>
		<div id="invoices-list">
			<table id="invoices-table" class="kernely_table">
			</table>
		</div>
		
	</div>
{% endblock %}

{% block right %}
	<div class="right_block" id="invoice-filters"  >
		<div class="main_title">{% i18n "filters" %}</div>
		<div class="subtitle">{% i18n "organization" %}</div>
		<select id="organization-selector">
			<option value="0">{% i18n "all" %}</option>
			<optgroup id="organization-select-group" label="{% i18n "organizations" %}">
				
			</optgroup>
		</select>
		<div class="subtitle">{% i18n "project" %}</div>
		<select id="project-selector" disabled="disabled">
			<option value="0">{% i18n "all" %}</option>
			<optgroup id="project-select-group" label="{% i18n "projects" %}">
			
			</optgroup>
		</select>
		<div class="subtitle">{% i18n "status" %}</div>
		<select id="status-selector">
			<option value="-1">{% i18n "all" %}</option>
			<option value="0">{% i18n "invoice-pending" %}</option>
			<option value="1">{% i18n "invoice-paid" %}</option>
			<option value="2">{% i18n "invoice-unpaid" %}</option>
			<option value="3">{% i18n "invoice-undefined" %}</option>
		</select>
		<div class="subtitle">{% i18n "invoice-period-publication" %}</div>
		<input type="text" id="from-publi-filter" name="from-publi-filter" class="kernely_input" placeholder="{% i18n "from_date" %}"/>
		<input type="text" id="to-publi-filter" to="to-publi-filter" class="kernely_input" placeholder="{% i18n "to_date" %}"/>
		<div class="subtitle">{% i18n "invoice-period-term" %}</div>
		<input type="text" id="from-term-filter" name="from-term-filter" class="kernely_input" placeholder="{% i18n "from_date" %}"/>
		<input type="text" id="to-term-filter" name="to-term-filter" class="kernely_input" placeholder="{% i18n "to_date" %}"/>
	</div>
{% endblock %}
