{% extends "templates/layout.html" %}

{% block title %}
	{% i18n "invoice-view-title" %}
{% endblock %}

{% block content %}
	<div id="invoice-visualization">
		<!-- Invoice button bar -->
		<div id="invoice-button-bar">
			<input type="button" id="export-invoice" value="{% i18n "export" %}"/>
			<input type="button" id="edit-invoice" value="{% i18n "edit" %}" onClick="window.location = '/invoice/edit/{{invoice.id}}';"/>
		</div>
		<!-- Invoice header -->
		<div id="invoice-header">
			<h2><span>{% i18n "invoice" %}</span> {{invoice.organizationName}}</h2>
		</div>
		<!-- General informations -->
		<div id="invoice-general-informations">
			{% i18n "invoice-code" %} : {{invoice.code}}<br/>
			{% i18n "invoice-publication" %} : {{invoice.datePublicationString}}<br/>
			{% i18n "invoice-term" %} : {{invoice.dateTermString}}<br/>
			{% i18n "invoice-object" %} : {{invoice.object}}<br/><br/>
			
			{% i18n "invoice-address-invoicing" %} : <br/>
			<b>{{invoice.organizationName}}</b><br/>
			{{invoice.organizationAddress}}<br/>
			{{invoice.organizationZip}} {{invoice.organizationCity}}
		</div>
		<!-- Invoice details -->
		<br/>
		<div id="invoice-details">
			<table id="invoice-line-details">
				<tr>
					<th>{% i18n "invoice-line-description" %}</th>
					<th>{% i18n "invoice-line-quantity" %}</th>
					<th>{% i18n "invoice-line-unit-price" %}</th>
					<th>{% i18n "invoice-line-amount" %}</th>
					<th>{% i18n "invoice-line-vat" %}</th>
				</tr>
				<tbody id="invoice-lines">
					{% for value in invoiceLines %}
						<tr>
							<td>{{value.designation}}</td>
							<td>{{value.quantity}}</td>
							<td>{{value.unitPrice}}</td>
							<td>{{value.amount}}</td>
							<td>{{value.vat}} %</td>
						</tr>
					{% endfor %}
				</tbody>
				<tbody id="additional-informations">
					
				</tbody>
			</table>
			{% i18n "invoice-total-df" %} : {{invoice.amountDf}}<br/>
			{% for value in invoiceVats %}
				{% i18n "invoice-line-vat" %} {{value.value}} % : {{value.amount}}<br/>
			{% endfor %}
			<br/>
			{% i18n "invoice-total" %} : {{invoice.amount}}
			<br/>	
			{% i18n "invoice-comment" %}<br/>
			<textarea id="invoice-comment" readonly="readonly">{{invoice.comment}}</textarea>
		</div>
	</div>
{% endblock %}